<vex-page-layout @stagger>

  <vex-secondary-toolbar current="Autocomplete">
    <vex-breadcrumbs [crumbs]="['Components', 'Autocomplete']"></vex-breadcrumbs>
  </vex-secondary-toolbar>

  <vex-page-layout-content>
    <vex-components-overview-autocomplete @fadeInUp class="block"></vex-components-overview-autocomplete>
  </vex-page-layout-content>

</vex-page-layout>
