<div class="bg-card py-64 px-page">
  <h1 class="display-1 mt-48 mb-16 text-center">Frequently Asked Questions</h1>
  <h2 class="subheading-2 text-hint text-center max-w-lg mx-auto m-0">A wonderful serenity has taken possession of my
    entire
    soul, like these sweet
    mornings of spring which I enjoy with my whole heart.</h2>
</div>

<div class="my-48 max-w-xxxl mx-auto">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>How do I purchase the template?</mat-panel-title>
      </mat-expansion-panel-header>

      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
        texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>

      <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a
        paradisematic country, in which roasted parts of sentences fly into your mouth.</p>

      <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One
        day
        however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of
        Grammar.</p>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Which payment methods are supported?</mat-panel-title>
      </mat-expansion-panel-header>

      <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and
        devious Semikoli, but the Little Blind Text didn’t listen.</p>

      <p>She packed her seven versalia, put her initial into the belt and made herself on the way.</p>

      <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her
        hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>How does it work?</mat-panel-title>
      </mat-expansion-panel-header>

      <p>Pityful a rethoric question ran over her cheek, then she continued her way. On her way she met a copy.</p>

      <p>The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times
        and everything that was left from its origin would be the word "and" and the Little Blind Text should turn
        around and return to its own, safe country.</p>

      <p>But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers
        ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her
        for
        their projects again and again.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>How long does shipping take?</mat-panel-title>
      </mat-expansion-panel-header>

      <p>And if she hasn’t been rewritten, then they are still using her. Far far away, behind the word mountains, far
        from the countries Vokalia and Consonantia, there live the blind texts.</p>

      <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small
        river named Duden flows by their place and supplies it with the necessary regelialia.</p>

      <p>It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful
        Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line
        of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>What do I need to do?</mat-panel-title>
      </mat-expansion-panel-header>

      <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and
        devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into
        the belt and made herself on the way.</p>

      <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her
        hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.
        Pityful a rethoric question ran over her cheek, then she continued her way.</p>

      <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been
        rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little
        Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince
        her
        and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
