@import "../../../node_modules/@angular/flex-layout/mq";

.page-container {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.sidenav {
  background: var(--sidenav-background);

  ::ng-deep .mat-drawer-inner-container {
    overflow: hidden;
  }
}

.content {
  position: relative;
  width: 100%;
}

.scroll-disabled {
  overflow: hidden;

  .content {
    overflow: hidden;
  }
}

.sidenav-container {
  background: var(--background-base);
  height: 100%;
}

.sidenav-content {
  overflow-y: auto;
  overflow-y: overlay;
}

.toolbar-fixed {
  .toolbar {
    position: fixed;
    z-index: 50;
  }
}

.footer-fixed {
  .footer {
    box-shadow: var(--footer-elevation);
    position: fixed;
  }
}

@include layout-bp(gt-md) {
  ::ng-deep {
    body:not([dir="rtl"]) {
      .horizontal-layout .sidenav-content {
        &.sidenav-collapsed {
          margin-left: var(--sidenav-collapsed-width) !important;
        }

        &:not(.sidenav-collapsed) {
          margin-left: var(--sidenav-width) !important;
        }
      }
    }

    [dir="rtl"] {
      .horizontal-layout .sidenav-content {
        &.sidenav-collapsed {
          margin-right: var(--sidenav-collapsed-width) !important;
        }

        &:not(.sidenav-collapsed) {
          margin-right: var(--sidenav-width) !important;
        }
      }
    }
  }
}

.vertical-layout {

  .toolbar-fixed {
    .toolbar {
      width: 100%;
    }

    .content {
      margin-top: calc(var(--toolbar-height) + var(--navigation-height));
    }
  }

  .footer-fixed {
    .content {
      margin-bottom: var(--footer-height);
      min-height: calc(100% - var(--toolbar-height) - var(--navigation-height) - var(--footer-height));
    }

    &.scroll-disabled .content {
      height: calc(100% - var(--toolbar-height) - var(--navigation-height) - var(--footer-height));
    }
  }

  .content {
    min-height: calc(100% - var(--toolbar-height) - var(--navigation-height));
  }

  .scroll-disabled .content {
    height: calc(100% - var(--toolbar-height) - var(--navigation-height));
  }
}

.horizontal-layout {
  .sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }

  .toolbar-fixed {

    @include layout-bp(gt-md) {
      .toolbar {
        width: calc(100% - var(--sidenav-width));
      }

      &.sidenav-collapsed .toolbar {
        width: calc(100% - var(--sidenav-collapsed-width));
      }
    }

    .content {
      margin-top: var(--toolbar-height);
    }
  }

  .footer-fixed {
    .content {
      margin-bottom: var(--footer-height);
      min-height: calc(100% - var(--toolbar-height) - var(--footer-height));
    }

    &.scroll-disabled .content {
      height: calc(100% - var(--toolbar-height) - var(--footer-height));
    }
  }

  .scroll-disabled .content {
    height: calc(100% - var(--toolbar-height));
  }

  .is-mobile {
    .toolbar {
      position: fixed;
      width: 100%;
    }

    .content {
      margin-top: var(--toolbar-height);
    }
  }
}
