<vex-config-panel-toggle (openConfig)="openConfigPanel()"></vex-config-panel-toggle>

<!-- CONFIGPANEL -->
<vex-sidebar #configpanel [invisibleBackdrop]="true" position="right">
  <vex-config-panel></vex-config-panel>
</vex-sidebar>
<!-- END CONFIGPANEL -->

<div [class.boxed]="isBoxed$ | async"
     [class.horizontal-layout]="!(isLayoutVertical$ | async)"
     [class.is-mobile]="mobileQuery.matches"
     [class.vertical-layout]="isLayoutVertical$ | async"
     class="page-container">

  <vex-progress-bar></vex-progress-bar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav
                 [disableClose]="!mobileQuery.matches"
                 [fixedInViewport]="mobileQuery.matches"
                 [mode]="mobileQuery.matches || (isLayoutVertical$ | async) ? 'over' : 'side'"
                 [opened]="!mobileQuery.matches && !(isLayoutVertical$ | async)"
                 class="sidenav">
      <vex-sidenav [collapsed]="sidenavCollapsed$ | async"></vex-sidenav>
    </mat-sidenav>

    <mat-sidenav #quickpanel
                 [fixedInViewport]="mobileQuery.matches"
                 class="quickpanel"
                 mode="over"
                 position="end">
      <vex-quickpanel></vex-quickpanel>
    </mat-sidenav>

    <mat-sidenav-content [class.footer-fixed]="(isFooterFixed$ | async) && isFooterVisible$ | async"
                         [class.scroll-disabled]="scrollDisabled$ | async"
                         [class.toolbar-fixed]="isToolbarFixed$ | async"
                         [class.sidenav-collapsed]="sidenavCollapsed$ | async"
                         class="sidenav-content">
      <vex-toolbar [hasShadow]="toolbarShadowEnabled$ | async"
                   [mobileQuery]="mobileQuery"
                   class="toolbar"></vex-toolbar>

      <main [class.container]="containerEnabled$ | async" class="content">
        <router-outlet></router-outlet>
      </main>

      <vex-footer *ngIf="isFooterVisible$ | async" class="footer"></vex-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

