<div class="container px-page w-full" fxLayout="row" fxLayoutAlign="start center">
  <button (click)="openSidenav()" [fxHide]="!mobileQuery.matches" mat-icon-button type="button">
    <mat-icon [icIcon]="icMenu"></mat-icon>
  </button>

  <div *ngIf="isVerticalLayout$ | async" class="me-16" fxLayout="row" fxLayoutAlign="start center">
    <img class="w-32" src="assets/img/demo/logo.svg">
    <h1 [fxHide]="mobileQuery.matches" class="title ps-16 m-0">VEX</h1>
  </div>

  <button *ngIf="isHorizontalLayout$ | async"
          [fxHide]="mobileQuery.matches"
          [matMenuTriggerFor]="addNewMenu"
          color="primary"
          mat-raised-button
          type="button">ADD NEW
  </button>

  <mat-menu #addNewMenu="matMenu" [overlapTrigger]="false" xPosition="after" yPosition="below">
    <button mat-menu-item>
      <mat-icon [icIcon]="icPersonAdd"></mat-icon>
      <span>Add Contact</span>
    </button>

    <button mat-menu-item>
      <mat-icon [icIcon]="icDoneAll"></mat-icon>
      <span>Add Task</span>
    </button>

    <button mat-menu-item>
      <mat-icon [icIcon]="icAssignmentTurnedIn"></mat-icon>
      <span>Add Project</span>
    </button>

    <button [matMenuTriggerFor]="documentMenu" mat-menu-item>
      <mat-icon [icIcon]="icBallot"></mat-icon>
      <span>Add Document</span>
    </button>
  </mat-menu>

  <mat-menu #documentMenu="matMenu">
    <button mat-menu-item>
      <mat-icon [icIcon]="icDescription"></mat-icon>
      <span>Add Quote</span>
    </button>

    <button mat-menu-item>
      <mat-icon [icIcon]="icAssignment"></mat-icon>
      <span>Add Invoice</span>
    </button>

    <button mat-menu-item>
      <mat-icon [icIcon]="icReceipt"></mat-icon>
      <span>Add Receipt</span>
    </button>
  </mat-menu>

  <span fxFlex></span>

  <vex-toolbar-search class="toolbar-button"></vex-toolbar-search>

  <vex-toolbar-notifications class="toolbar-button"></vex-toolbar-notifications>

  <button (click)="openQuickpanel()" class="toolbar-button" mat-icon-button type="button">
    <mat-icon [icIcon]="icBookmarks"></mat-icon>
  </button>

  <button [matMenuTriggerFor]="languageMenu" class="toolbar-button" mat-icon-button type="button">
    <mat-icon [icIcon]="emojioneUS"></mat-icon>
  </button>

  <vex-toolbar-user class="toolbar-button"></vex-toolbar-user>

  <mat-menu #languageMenu="matMenu" overlapTrigger="false" xPosition="before" yPosition="below">
    <button mat-menu-item>
      <mat-icon [icIcon]="emojioneUS"></mat-icon>
      <span>English</span>
    </button>

    <button mat-menu-item>
      <mat-icon [icIcon]="emojioneDE"></mat-icon>
      <span>German</span>
    </button>
  </mat-menu>
</div>

<vex-navigation *ngIf="isVerticalLayout$ | async" [fxHide]="mobileQuery.matches"></vex-navigation>
