@import "../../../../node_modules/@angular/flex-layout/mq";

:host {
  background: var(--toolbar-background);
  box-sizing: border-box;
  color: var(--toolbar-color);
  display: block;
  white-space: nowrap;
  width: 100%;
}

.container {
  height: var(--toolbar-height);
}

.mat-icon {
  color: var(--toolbar-icon-color);
}

.toolbar-button + .toolbar-button {
  margin-inline-start: var(--padding-8);
}
