<div class="card" fxLayout="column" fxLayout.gt-sm="row">
  <div class="p-24">
    <h2 class="title mt-0">Preview</h2>
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="24px">
      <button (click)="openDialog()" color="primary" mat-raised-button type="button">OPEN DIALOG</button>
      <p *ngIf="result">You answered with: {{ result }}</p>
    </div>
  </div>

  <div class="border-l" fxFlex>
    <div class="p-24">
      <h2 class="title mt-0">Dialogs</h2>
      <h4 class="body-2 text-secondary m-0">&lt;mat-dialog&gt;</h4>
    </div>

    <mat-tab-group class="vex-tabs">
      <mat-tab label="DESCRIPTION">
        <p class="p-24">
          Dialogs contain text and UI controls. They retain focus until dismissed or a required action has been taken.
          Use dialogs sparingly because they are interruptive.
          <br>
          <br><span class="semi-bold">Some dialog types include:</span>
          <br><span class="semi-bold">Alerts</span> are urgent interruptions that inform about a situation and require
          acknowledgement.
          <br><span class="semi-bold">Simple menus</span> display options for list items, whereas simple dialogs can
          provide details or actions about a list item.
          <br><span class="semi-bold">Confirmation dialogs</span> require users to explicitly confirm a choice.
        </p>
      </mat-tab>
      <mat-tab label="SOURCE CODE">
        <pre><code [vexHighlight]="dialogHTML"></code></pre>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

