<vex-page-layout @stagger>

  <vex-secondary-toolbar current="Buttons">
    <vex-breadcrumbs [crumbs]="['Components', 'Buttons']"></vex-breadcrumbs>
  </vex-secondary-toolbar>

  <vex-page-layout-content>
    <vex-components-overview-buttons @fadeInUp class="block"></vex-components-overview-buttons>

    <h2 class="title mt-24" fxLayout="row" fxLayoutAlign="start center">
    <span @scaleIn
          class="block w-40 h-40 rounded-full bg-primary-50 text-primary-500 me-12"
          fxLayout="row"
          fxLayoutAlign="center center">
      <ic-icon [icon]="icSettings" height="20px" width="20px"></ic-icon>
      </span>
      <span @fadeInRight class="block">Button Options</span>
    </h2>

    <div fxLayout="row" fxLayoutGap="20px">
      <div @fadeInUp class="card" fxFlex>
        <div class="px-24 py-16 border-b">
          <h2 class="title m-0">Button Colors</h2>
        </div>

        <div class="px-24 py-16">

          <h4 class="body-2 text-secondary m-0">Material Buttons:</h4>

          <div class="bg-base rounded-tr rounded-br border-l-3 p-16 mt-12"
               fxLayout="row"
               fxLayout.lt-sm="column"
               fxLayoutAlign.lt-sm="start center"
               fxLayoutGap="12px">
            <button color="primary" mat-raised-button type="button">Primary</button>
            <button color="accent" mat-raised-button type="button">Accent</button>
            <button color="warn" mat-raised-button type="button">Warn</button>
            <button disabled mat-raised-button type="button">Disabled</button>
          </div>
          <div class="bg-base rounded-tr rounded-br border-l-3 p-16 mt-12"
               fxLayout="row"
               fxLayout.lt-sm="column"
               fxLayoutAlign.lt-sm="start center"
               fxLayoutGap="12px">
            <button color="primary" mat-stroked-button type="button">Primary</button>
            <button color="accent" mat-stroked-button type="button">Accent</button>
            <button color="warn" mat-stroked-button type="button">Warn</button>
            <button disabled mat-stroked-button type="button">Disabled</button>
          </div>
          <div class="bg-base rounded-tr rounded-br border-l-3 p-16 mt-12"
               fxLayout="row"
               fxLayout.lt-sm="column"
               fxLayoutAlign.lt-sm="start center"
               fxLayoutGap="12px">
            <button color="primary" mat-button type="button">Primary</button>
            <button color="accent" mat-button type="button">Accent</button>
            <button color="warn" mat-button type="button">Warn</button>
            <button disabled mat-button type="button">Disabled</button>
          </div>

          <h4 class="body-2 text-secondary mt-32 mb-0">Colors:</h4>

          <ng-container *ngFor="let color of colors">
            <div class="bg-base rounded-tr rounded-br border-l-3 p-16 pt-4"
                 fxLayout="row wrap"
                 fxLayoutAlign.lt-sm="center start"
                 fxLayoutGap="12px">

              <button [ngClass]="['bg-' + color + '-500', 'text-' + color + '-contrast-500']"
                      class="mt-12"
                      mat-raised-button
                      type="button">{{ color | uppercase }}</button>
              <button [ngClass]="['text-' + color + '-500']"
                      class="mt-12"
                      mat-stroked-button
                      type="button">{{ color | uppercase }}</button>

              <button [ngClass]="['text-' + color + '-500']"
                      class="mt-12"
                      mat-button
                      type="button">{{ color | uppercase }}</button>
            </div>
          </ng-container>
        </div>
      </div>

      <div @fadeInUp class="card" fxFlex>
        <div class="px-24 py-16 border-b">
          <h2 class="title m-0">Buttons with Icons</h2>
        </div>

        <div class="px-24 py-16">
          <h4 class="body-2 text-secondary m-0">Default Buttons with Icons:</h4>

          <div class="bg-base rounded-tr rounded-br border-l-3 p-16 mt-12"
               fxLayout="row"
               fxLayout.lt-sm="column"
               fxLayoutAlign.lt-sm="start center"
               fxLayoutGap="12px">
            <button color="primary" mat-raised-button type="button">
              <ic-icon [icon]="icArchive" class="-ms-4 me-8" inline="true" size="24px"></ic-icon>
              <span>Raised</span>
            </button>

            <button color="primary" mat-stroked-button type="button">
              <ic-icon [icon]="icArchive" class="-ms-4 me-8" inline="true" size="24px"></ic-icon>
              <span>Stroked</span>
            </button>

            <button color="primary" mat-button type="button">
              <ic-icon [icon]="icArchive" class="-ms-4 me-8" inline="true" size="24px"></ic-icon>
              <span>Flat</span>
            </button>
          </div>

          <h4 class="body-2 text-secondary mt-32 mb-0">Pill Buttons with Icons:</h4>

          <div class="bg-base rounded-tr rounded-br border-l-3 p-16 mt-12"
               fxLayout="row"
               fxLayout.lt-sm="column"
               fxLayoutAlign.lt-sm="start center"
               fxLayoutGap="12px">
            <button class="rounded-full" color="primary" mat-raised-button type="button">
              <ic-icon [icon]="icGrade" class="-ms-4 me-8" inline="true" size="24px"></ic-icon>
              <span>Raised</span>
            </button>

            <button class="rounded-full" color="primary" mat-stroked-button type="button">
              <ic-icon [icon]="icGrade" class="-ms-4 me-8" inline="true" size="24px"></ic-icon>
              <span>Stroked</span>
            </button>

            <button class="rounded-full" color="primary" mat-button type="button">
              <ic-icon [icon]="icGrade" class="-ms-4 me-8" inline="true" size="24px"></ic-icon>
              <span>Flat</span>
            </button>
          </div>

          <h4 class="body-2 text-secondary mt-32 mb-0">Size Icons & Buttons</h4>

          <div class="bg-base rounded-tr rounded-br border-l-3 p-16 mt-12"
               fxLayout="row"
               fxLayout.lt-sm="column"
               fxLayoutAlign="start center"
               fxLayoutAlign.lt-sm="start center"
               fxLayoutGap="12px">
            <button class="rounded-full" color="primary" mat-raised-button type="button">
              <ic-icon [icon]="icFavorite" class="-ms-2 me-8" inline="true" size="16px"></ic-icon>
              <span>Raised</span>
            </button>

            <button class="rounded-full py-8 px-24 title" color="primary" mat-stroked-button type="button">
              <ic-icon [icon]="icFavorite" class="-ms-8 me-8" inline="true" size="28px"></ic-icon>
              <span>Stroked</span>
            </button>

            <button class="rounded-full py-8 px-24 title" color="primary" mat-raised-button type="button">
              <ic-icon [icon]="icFavorite" class="-ms-8 me-8" inline="true" size="28px"></ic-icon>
              <span>Raised</span>
            </button>

            <button class="rounded-full" color="primary" mat-button type="button">
              <ic-icon [icon]="icFavorite" class="-ms-4 me-8" inline="true" size="24px"></ic-icon>
              <span>Flat</span>
            </button>
          </div>

          <h4 class="body-2 text-secondary mt-32 mb-0">Social Network pill buttons</h4>

          <div class="bg-base rounded-tr rounded-br border-l-3 p-16 pt-4"
               fxLayout="row wrap"
               fxLayoutAlign.lt-sm="center start"
               fxLayoutGap="12px">
            <button class="bg-facebook text-base-light rounded-full mt-12" mat-raised-button type="button">
              <ic-icon [icon]="faFacebook" class="-ms-4 me-8" inline="true" size="20px"></ic-icon>
              <span>Facebook</span>
            </button>

            <button class="bg-twitter text-base-light rounded-full mt-12" mat-raised-button type="button">
              <ic-icon [icon]="faTwitter" class="-ms-4 me-8" inline="true" size="20px"></ic-icon>
              <span>Twitter</span>
            </button>

            <button class="bg-pinterest text-base-light rounded-full mt-12" mat-raised-button type="button">
              <ic-icon [icon]="faPinterest" class="-ms-4 me-8" inline="true" size="20px"></ic-icon>
              <span>Pinterest</span>
            </button>

            <button class="bg-instagram text-base-light rounded-full mt-12" mat-raised-button type="button">
              <ic-icon [icon]="faInstagram" class="-ms-4 me-8" inline="true" size="20px"></ic-icon>
              <span>Instagram</span>
            </button>

            <button class="bg-github text-base-light rounded-full mt-12" mat-raised-button type="button">
              <ic-icon [icon]="faGithub" class="-ms-4 me-8" inline="true" size="20px"></ic-icon>
              <span>GitHub</span>
            </button>
          </div>

          <h4 class="body-2 text-secondary mt-32 mb-0">Social Network square buttons</h4>

          <div class="bg-base rounded-tr rounded-br border-l-3 p-16 pt-4"
               fxLayout="row wrap"
               fxLayoutAlign.lt-sm="center start"
               fxLayoutGap="12px">
            <button class="bg-facebook text-base-light mt-12" mat-raised-button type="button">
              <ic-icon [icon]="faFacebook" class="-ms-4 me-8" inline="true" size="20px"></ic-icon>
              <span>Facebook</span>
            </button>

            <button class="bg-twitter text-base-light mt-12" mat-raised-button type="button">
              <ic-icon [icon]="faTwitter" class="-ms-4 me-8" inline="true" size="20px"></ic-icon>
              <span>Twitter</span>
            </button>

            <button class="bg-pinterest text-base-light mt-12" mat-raised-button type="button">
              <ic-icon [icon]="faPinterest" class="-ms-4 me-8" inline="true" size="20px"></ic-icon>
              <span>Pinterest</span>
            </button>

            <button class="bg-instagram text-base-light mt-12" mat-raised-button type="button">
              <ic-icon [icon]="faInstagram" class="-ms-4 me-8" inline="true" size="20px"></ic-icon>
              <span>Instagram</span>
            </button>

            <button class="bg-github text-base-light mt-12" mat-raised-button type="button">
              <ic-icon [icon]="faGithub" class="-ms-4 me-8" inline="true" size="20px"></ic-icon>
              <span>GitHub</span>
            </button>
          </div>

          <h4 class="body-2 text-secondary mt-32 mb-0">Icon Buttons:</h4>

          <div class="bg-base rounded-tr rounded-br border-l-3 p-16 mt-12"
               fxLayout="row"
               fxLayout.lt-sm="column"
               fxLayoutAlign="start center"
               fxLayoutAlign.lt-sm="start center"
               fxLayoutGap="12px">
            <button color="primary" mat-icon-button type="button">
              <mat-icon [icIcon]="icFavorite"></mat-icon>
            </button>

            <button color="accent" mat-icon-button type="button">
              <mat-icon [icIcon]="icFavorite"></mat-icon>
            </button>

            <button color="warn" mat-icon-button type="button">
              <mat-icon [icIcon]="icFavorite"></mat-icon>
            </button>

            <button color="primary" mat-mini-fab type="button">
              <mat-icon [icIcon]="icFavorite"></mat-icon>
            </button>

            <button color="accent" mat-mini-fab type="button">
              <mat-icon [icIcon]="icFavorite"></mat-icon>
            </button>

            <button color="warn" mat-mini-fab type="button">
              <mat-icon [icIcon]="icFavorite"></mat-icon>
            </button>
          </div>

          <h4 class="body-2 text-secondary mt-32 mb-0">FAB Buttons:</h4>

          <div class="bg-base rounded-tr rounded-br border-l-3 p-16 mt-12"
               fxLayout="row"
               fxLayout.lt-sm="column"
               fxLayoutAlign="start center"
               fxLayoutAlign.lt-sm="start center"
               fxLayoutGap="12px">
            <button color="primary" mat-fab type="button">
              <mat-icon [icIcon]="icFavorite"></mat-icon>
            </button>

            <button color="accent" mat-fab type="button">
              <mat-icon [icIcon]="icFavorite"></mat-icon>
            </button>

            <button color="warn" mat-fab type="button">
              <mat-icon [icIcon]="icFavorite"></mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </vex-page-layout-content>

</vex-page-layout>
