<vex-page-layout mode="card">

  <vex-page-layout-header fxLayout="column" fxLayoutAlign="center start">
    <div class="container">
      <h2 class="title m-0">Card - Large Header</h2>
      <vex-breadcrumbs [crumbs]="['Page Layouts', 'Card', 'Large Header']"
                       [invert]="true"></vex-breadcrumbs>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content class="container">
    <div class="card p-24">
      <h2 class="m-0 title mb-24">Blog Post</h2>

      <vex-page-layout-demo></vex-page-layout-demo>
    </div>
  </vex-page-layout-content>

</vex-page-layout>
