<vex-page-layout mode="card">
  <vex-page-layout-header class="h-24"></vex-page-layout-header>

  <vex-page-layout-content>
    <div class="card p-24">
      <h2 class="m-0 title mb-24">Blog Post</h2>

      <vex-page-layout-demo></vex-page-layout-demo>
    </div>
  </vex-page-layout-content>

</vex-page-layout>
