<div class="w-full h-full p-page container" fxLayout="column">

  <div class="bg-primary-500 w-full h-300 absolute top-0 left-0 right-0"></div>

  <mat-drawer-container class="card overflow-hidden" fxFlex="auto">
    <mat-drawer [mode]="mobileQuery.matches ? 'over' : 'side'"
                [opened]="!mobileQuery.matches"
                class="drawer"
                position="start">
      <div class="h-full" fxLayout="column">
        <div class="p-16 border-b bg-app-bar"
             fxFlex="none"
             fxLayout="row"
             fxLayoutAlign="start center"
             fxLayoutGap="16px">
          <div [matMenuTriggerFor]="statusMenu" class="relative cursor-pointer">
            <img class="avatar bg-card" fxFlex="none" src="assets/img/avatars/default.jpg">
            <ic-icon [icon]="activeStatus.icon"
                     [style.color]="'var(' + activeStatus.color + ')' | safeStyle"
                     class="bg-card absolute -bottom-4 -right-4 rounded-full"></ic-icon>
          </div>

          <div class="border rounded-full text-hint overflow-hidden bg-card"
               fxFlex="auto"
               fxLayout="row"
               fxLayoutAlign="start center">
            <ic-icon [icon]="icSearch" class="ml-16 mr-12" height="18px" width="18px"></ic-icon>
            <input class="outline-none border-0 h-36 w-240 placeholder:text-secondary caption bg-card"
                   fxFlex="auto"
                   placeholder="Search or start a new chat"
                   type="text">
          </div>
        </div>

        <h2 class="headline font-normal m-0 p-16 text-primary-500 border-b" fxFlex="none" fxLayout="row">
            <span class="block">
              <ic-icon [icon]="icChat" class="mr-20 ml-4" height="28px" inline="true" width="28px"></ic-icon>
            </span>
          <span class="block">Chats</span>
        </h2>

        <div *ngIf="chats$ | async as chats" [@stagger]="chats.length" fxFlex="auto" vexScrollbar>
          <a *ngFor="let chat of chats; trackBy: trackById"
             @fadeInUp
             [routerLink]="[chat.id]"
             class="border-b px-16 py-24 hover:bg-hover cursor-pointer relative select-none block no-underline text-base"
             matRipple
             routerLinkActive="bg-hover">
            <div fxLayout="row"
                 fxLayoutAlign="start center"
                 fxLayoutGap="16px">
              <div class="relative">
                <img [src]="chat.imageSrc" class="avatar" fxFlex="none">
                <ic-icon *ngIf="chat.status === 'Online'"
                         [icon]="icCheckCircle"
                         class="bg-card absolute -bottom-4 -right-4 rounded-full text-green-500"></ic-icon>
              </div>
              <div class="overflow-hidden" fxFlex="auto">
                <div [class.font-medium]="chat.unreadCount > 0" class="subheading-2 leading-snug">{{ chat.from }}</div>
                <div [class.font-medium]="chat.unreadCount > 0"
                     class="body-1 text-secondary truncate">{{ chat.message }}</div>
              </div>
              <div fxFlex="none" fxLayout="column" fxLayoutAlign="center end">
                <div class="caption font-medium text-secondary">{{ chat.timestamp }}</div>
                <div *ngIf="chat.unreadCount > 0"
                     class="w-20 h-20 bg-primary-500 text-primary-contrast-500 rounded-full caption text-center mt-4">
                  {{ chat.unreadCount }}
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </mat-drawer>

    <mat-drawer-content class="chat-pattern">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>

<mat-menu #statusMenu="matMenu" xPosition="after" yPosition="below">
  <button (click)="setStatus(status)" *ngFor="let status of statuses; trackBy: trackById" mat-menu-item>
    <mat-icon [icIcon]="status.icon"
              [style.color]="'var(' + status.color + ')' | safeStyle"></mat-icon>
    <span>{{ status.label }}</span>
  </button>
</mat-menu>
