<div class="w-full h-full" fxLayout="column">
  <div class="px-24 pt-24 pb-80 bg-primary-500" fxFlex="none">
    <div class="container" fxLayout="row" fxLayoutGap="24px">
      <h2 class="headline text-primary-contrast-500 m-0" fxFlex="230px" fxLayout="row" fxLayoutAlign="start center">
        <ic-icon @scaleIn [icon]="icContacts" class="block"></ic-icon>
        <span @fadeInRight class="ml-16 block">Contacts</span>
      </h2>

      <div class="bg-card rounded-full overflow-hidden relative ps-20 h-48 max-w-md w-full shadow-8 mx-auto"
           fxLayout="row"
           fxLayoutAlign="start center">
        <ic-icon [icon]="icSearch" class="text-secondary" fxFlex="none" height="24px" width="24px"></ic-icon>
        <input [formControl]="searchCtrl"
               class="border-0 h-48 outline-none ps-16 placeholder:text-secondary bg-card"
               fxFlex="auto"
               placeholder="Search Contacts..."
               type="text">
      </div>
    </div>
  </div>

  <div class="-mt-56 p-24 pt-0 overflow-hidden container"
       fxFlex="auto"
       fxLayout="row"
       fxLayoutAlign="start start"
       fxLayoutGap="24px">
    <div @stagger fxFlex="230px">
      <div class="h-56" fxLayout="row" fxLayoutAlign="start center">
        <button (click)="openContact()" fxFlex="auto" mat-raised-button type="button">
          <ic-icon [icon]="icPersonAdd" class="me-12" inline="true" size="18px"></ic-icon>
          <span>ADD CONTACT</span>
        </button>
      </div>

      <a (click)="setFilter('all')"
         @fadeInRight
         [class.bg-hover]="isActive('all')"
         [class.text-primary-500]="isActive('all')"
         class="list-item mt-24 no-underline"
         fxLayout="row"
         fxLayoutAlign="start center"
         matRipple
         routerLinkActive="text-primary-500 bg-hover">
        <ic-icon [icon]="icViewHeadline" class="me-12" height="24px" width="24px"></ic-icon>
        <span>All Contacts</span>
      </a>

      <a (click)="setFilter('frequently')"
         @fadeInRight
         [class.bg-hover]="isActive('frequently')"
         [class.text-primary-500]="isActive('frequently')"
         class="list-item mt-8 no-underline"
         fxLayout="row"
         fxLayoutAlign="start center"
         matRipple>
        <ic-icon [icon]="icHistory" class="me-12" height="24px" width="24px"></ic-icon>
        <span>Frequently contacted</span>
      </a>

      <a (click)="setFilter('starred')"
         @fadeInRight
         [class.bg-hover]="isActive('starred')"
         [class.text-primary-500]="isActive('starred')"
         class="list-item mt-8 no-underline"
         fxLayout="row"
         fxLayoutAlign="start center"
         matRipple>
        <ic-icon [icon]="icStar" class="me-12" height="24px" width="24px"></ic-icon>
        <span>Starred</span>
      </a>

      <h3 @fadeInRight class="caption text-secondary font-medium mb-0 mt-24">LABELS</h3>

      <a (click)="setFilter('family')"
         @fadeInRight
         [class.bg-hover]="isActive('family')"
         [class.text-primary-500]="isActive('family')"
         class="list-item mt-8 no-underline"
         fxLayout="row"
         fxLayoutAlign="start center"
         matRipple>
        <ic-icon [icon]="icLabel" class="text-primary-500 me-12" height="24px" width="24px"></ic-icon>
        <span>Family</span>
      </a>

      <a (click)="setFilter('friends')"
         @fadeInRight
         [class.bg-hover]="isActive('friends')"
         [class.text-primary-500]="isActive('friends')"
         class="list-item mt-8 no-underline"
         fxLayout="row"
         fxLayoutAlign="start center"
         matRipple>
        <ic-icon [icon]="icLabel" class="text-green-500 me-12" height="24px" width="24px"></ic-icon>
        <span>Friends</span>
      </a>

      <a (click)="setFilter('colleagues')"
         @fadeInRight
         [class.bg-hover]="isActive('colleagues')"
         [class.text-primary-500]="isActive('colleagues')"
         class="list-item mt-8 no-underline"
         fxLayout="row"
         fxLayoutAlign="start center"
         matRipple>
        <ic-icon [icon]="icLabel" class="text-amber-500 me-12" height="24px" width="24px"></ic-icon>
        <span>Colleagues</span>
      </a>

      <a (click)="setFilter('business')"
         @fadeInRight
         [class.bg-hover]="isActive('business')"
         [class.text-primary-500]="isActive('business')"
         class="list-item mt-8 no-underline"
         fxLayout="row"
         fxLayoutAlign="start center"
         matRipple>
        <ic-icon [icon]="icLabel" class="text-grey-500 me-12" height="24px" width="24px"></ic-icon>
        <span>Business</span>
      </a>
    </div>

    <div class="card h-full overflow-hidden" fxFlex="auto">
      <vex-contacts-data-table (openContact)="openContact($event)"
                               (toggleStar)="toggleStar($event)"
                               [columns]="tableColumns"
                               [data]="tableData"
                               [searchStr]="searchStr$ | async"></vex-contacts-data-table>
    </div>
  </div>
</div>

