<vex-page-layout @stagger>

  <vex-secondary-toolbar current="Progress Spinner">
    <vex-breadcrumbs [crumbs]="['Components', 'Progress Spinner']"></vex-breadcrumbs>
  </vex-secondary-toolbar>

  <vex-page-layout-content>
    <vex-components-overview-progress-spinner @fadeInUp class="block"></vex-components-overview-progress-spinner>

    <!--
    <h2 class="title mt-24" fxLayout="row" fxLayoutAlign="start center">
    <span @scaleIn
          class="block w-40 h-40 rounded-full bg-primary-50 text-primary-500 mr-12"
          fxLayout="row"
          fxLayoutAlign="center center">
      <ic-icon [icon]="icSettings" height="20px" width="20px"></ic-icon>
      </span>
      <span @fadeInRight class="block">Card Options</span>
    </h2>
    -->
  </vex-page-layout-content>

</vex-page-layout>
