<a [routerLink]="['/']" class="text-hint hover:text-primary-500 swift-ease-out">
  <ic-icon [icon]="icHome" inline="true" size="20px"></ic-icon>
</a>
<ng-container *ngFor="let crumb of crumbs; trackBy: trackByValue">
  <div class="w-4 h-4 bg-grey-300 rounded-full"></div>
  <a [routerLink]="[]"
     class="body-2 text-hint leading-none hover:text-primary-500 no-underline swift-ease-out">{{ crumb }}</a>
</ng-container>
