<vex-page-layout>

  <vex-secondary-toolbar current="Simple">
    <vex-breadcrumbs [crumbs]="['Page Layouts', 'Simple', 'Default']" fxFlex="auto"></vex-breadcrumbs>

    <button class="ml-8" color="primary" mat-icon-button type="button">
      <mat-icon [icIcon]="icMoreVert"></mat-icon>
    </button>
  </vex-secondary-toolbar>

  <vex-page-layout-content class="container">
    <vex-page-layout-demo></vex-page-layout-demo>
  </vex-page-layout-content>

</vex-page-layout>
