.mat-icon {
  color: rgb(var(--primary-color-500));
}

.search {
  margin-top: 22px;
  opacity: 0;
  overflow: hidden;
  transition: var(--swift-ease-in-out);
  visibility: hidden;
  width: 0;

  &.search-open {
    margin-left: var(--padding-8);
    margin-right: var(--padding-8);
    opacity: 1;
    visibility: visible;
    width: 250px;
  }
}
