<vex-secondary-toolbar current="Dashboard">
  <vex-breadcrumbs [crumbs]="['Dashboards', 'Analytics']" fxFlex="auto"></vex-breadcrumbs>

  <button class="ml-8" color="primary" mat-icon-button type="button">
    <mat-icon [icIcon]="icMoreVert"></mat-icon>
  </button>
</vex-secondary-toolbar>

<vex-page-layout>

  <vex-page-layout-content class="container"
                             gdColumns="1fr 1fr 1fr 1fr"
                             gdColumns.lt-md="1fr 1fr"
                             gdColumns.lt-sm="1fr"
                             gdGap="20px">

    <vex-widget-assistant gdColumn="1 / 3" gdColumn.lt-md="1 / -1" gdColumn.lt-sm="1"></vex-widget-assistant>

    <vex-widget-quick-line-chart [icon]="icPageView"
                                 [series]="pageViewsSeries"
                                 gdColumn.lt-sm="1"
                                 label="Page Views"
                                 value="92.4k"></vex-widget-quick-line-chart>

    <vex-widget-quick-line-chart [bgColor]="CSSVariable['color-orange-50']"
                                 [icon]="icGroup"
                                 [options]="uniqueUsersOptions"
                                 [series]="uniqueUsersSeries"
                                 [textColor]="CSSVariable['color-orange-500']"
                                 gdColumn.lt-sm="1"
                                 label="Unique Users"
                                 value="67.2k"></vex-widget-quick-line-chart>

    <vex-widget-large-chart [series]="userSessionsSeries"
                            gdColumn="1 / 3"
                            gdColumn.lt-md="1 / -1"
                            gdColumn.lt-sm="1"></vex-widget-large-chart>

    <vex-widget-table [columns]="tableColumns"
                      [data]="tableData"
                      gdColumn="3 / -1"
                      gdColumn.lt-md="1 / -1"
                      gdColumn.lt-sm="1"></vex-widget-table>


    <vex-widget-quick-value-center [bgColor]="CSSVariable['color-primary-50']"
                                   [change]="124.4"
                                   [icon]="icGroup"
                                   [textColor]="CSSVariable['color-primary-500']"
                                   gdColumn.lt-sm="1"
                                   label="Users"
                                   value="67.4k"></vex-widget-quick-value-center>
    <vex-widget-quick-value-center [bgColor]="CSSVariable['color-orange-50']"
                                   [change]="-23.7"
                                   [icon]="icPageView"
                                   [textColor]="CSSVariable['color-orange-500']"
                                   gdColumn.lt-sm="1"
                                   helpText="Additional information"
                                   label="Sessions"
                                   value="96.2k"></vex-widget-quick-value-center>
    <vex-widget-quick-value-center [bgColor]="CSSVariable['color-deep-orange-50']"
                                   [change]="23.2"
                                   [icon]="icCloudOff"
                                   [textColor]="CSSVariable['color-deep-orange-500']"
                                   gdColumn.lt-sm="1"
                                   helpText="Explain something"
                                   label="Bounce Rate"
                                   value="6.92%"></vex-widget-quick-value-center>
    <vex-widget-quick-value-center [bgColor]="CSSVariable['color-teal-50']"
                                   [change]="34.5"
                                   [icon]="icTimer"
                                   [textColor]="CSSVariable['color-teal-500']"
                                   gdColumn.lt-sm="1"
                                   label="Session Duration"
                                   value="16m 48s"></vex-widget-quick-value-center>

    <vex-widget-large-goal-chart [series]="salesSeries"
                                 gdColumn="1 / -1"
                                 gdColumn.lt-sm="1"
                                 total="4,374"></vex-widget-large-goal-chart>


    <!--
    <vex-widget-quick-value-start [change]="124.4"
                                    [icon]="icGroup"
                                    changeSuffix="more impressions"
                                    label="Impressions"
                                    value="92.6k"></vex-widget-quick-value-start>

    <vex-widget-quick-value-start [change]="124.4"
                                    [icon]="icGroup"
                                    changeSuffix="more impressions"
                                    label="Impressions"
                                    value="92.6k"></vex-widget-quick-value-start>

    <vex-widget-quick-value-start [change]="124.4"
                                    [icon]="icGroup"
                                    changeSuffix="more impressions"
                                    label="Impressions"
                                    value="92.6k"></vex-widget-quick-value-start>

    <vex-widget-quick-value-start [change]="124.4"
                                    [icon]="icGroup"
                                    changeSuffix="more impressions"
                                    label="Impressions"
                                    value="92.6k"></vex-widget-quick-value-start>
                                    -->


  </vex-page-layout-content>

</vex-page-layout>
