<div (mouseenter)="onMouseEnter()"
     (mouseleave)="onMouseLeave()"
     [class.collapsed]="collapsed"
     [class.open]="collapsed && collapsedOpen$ | async"
     class="sidenav"
     fxLayout="column">
  <div class="sidenav-toolbar" fxFlex="none" fxLayout="row" fxLayoutAlign="start center">
    <img class="w-24 select-none" fxFlex="none" src="assets/img/demo/logo.svg">
    <h2 class="title ps-16 select-none" fxFlex="auto">VEX</h2>
    <button (click)="toggleCollapse()" class="w-32 h-32 -mr-8 leading-none" fxFlex="none" mat-icon-button type="button">
      <mat-icon *ngIf="!collapsed" [icIcon]="icRadioButtonChecked" size="14px"></mat-icon>
      <mat-icon *ngIf="collapsed" [icIcon]="icRadioButtonUnchecked" size="14px"></mat-icon>
    </button>
  </div>

  <div class="sidenav-items" fxFlex="auto" vexScrollbar>
    <vex-sidenav-item *ngFor="let item of items; trackBy: trackByRoute"
                      [item]="item"
                      [level]="0"></vex-sidenav-item>
  </div>
</div>
