<vex-page-layout mode="card">

  <vex-secondary-toolbar current="Card">
    <vex-breadcrumbs [crumbs]="['Page Layouts', 'Card', 'Tabbed']" fxFlex="auto"></vex-breadcrumbs>

    <button class="ml-8" color="primary" mat-icon-button type="button">
      <mat-icon [icIcon]="icMoreVert"></mat-icon>
    </button>
  </vex-secondary-toolbar>

  <vex-page-layout-header class="h-24"></vex-page-layout-header>

  <vex-page-layout-content>
    <div class="card">
      <mat-tab-group>
        <mat-tab label="Main Tab">
          <div class="p-24">
            <vex-page-layout-demo></vex-page-layout-demo>
          </div>
        </mat-tab>
        <mat-tab label="Side Tab">
          <div class="p-24">
            <vex-page-layout-demo></vex-page-layout-demo>
          </div>
        </mat-tab>
        <mat-tab label="Extra Tab">
          <div class="p-24">
            <vex-page-layout-demo></vex-page-layout-demo>
          </div>
        </mat-tab>
        <mat-tab label="Additional Tab">
          <div class="p-24">
            <vex-page-layout-demo></vex-page-layout-demo>
          </div>
        </mat-tab>
        <mat-tab label="Another Tab">
          <div class="p-24">
            <vex-page-layout-demo></vex-page-layout-demo>
          </div>
        </mat-tab>
        <mat-tab label="One More Tab">
          <div class="p-24">
            <vex-page-layout-demo></vex-page-layout-demo>
          </div>
        </mat-tab>
        <mat-tab label="Definitely the last Tab">
          <div class="p-24">
            <vex-page-layout-demo></vex-page-layout-demo>
          </div>
        </mat-tab>
        <mat-tab label="Whoops another Tab">
          <div class="p-24">
            <vex-page-layout-demo></vex-page-layout-demo>
          </div>
        </mat-tab>
        <mat-tab label="And one last Tab">
          <div class="p-24">
            <vex-page-layout-demo></vex-page-layout-demo>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </vex-page-layout-content>

</vex-page-layout>
