<vex-page-layout>

  <vex-secondary-toolbar current="Simple - Tabbed">
    <vex-breadcrumbs [crumbs]="['Page Layouts', 'Simple', 'Tabbed']" fxFlex="auto"></vex-breadcrumbs>

    <button class="ml-8" color="primary" mat-icon-button type="button">
      <mat-icon [icIcon]="icMoreVert"></mat-icon>
    </button>
  </vex-secondary-toolbar>

  <vex-page-layout-content class="mt-24 p-0! container">
    <mat-tab-group>
      <mat-tab label="Main Tab">
        <div class="p-24">
          <vex-page-layout-demo></vex-page-layout-demo>
        </div>
      </mat-tab>
      <mat-tab label="Side Tab">
        <div class="p-24">
          <vex-page-layout-demo></vex-page-layout-demo>
        </div>
      </mat-tab>
      <mat-tab label="Extra Tab">
        <div class="p-24">
          <vex-page-layout-demo></vex-page-layout-demo>
        </div>
      </mat-tab>
    </mat-tab-group>
  </vex-page-layout-content>

</vex-page-layout>
