.vertical-layout.boxed {
  --toolbar-height: 100px;

  vex-secondary-toolbar {

    .h-56 {
      display: none;
    }

    .fixed {
      background: none;
      border-top: none;
      box-shadow: none;
      margin-bottom: calc(var(--padding-16) * -1);
      margin-top: var(--padding-8);
      position: relative;
      top: 0;
    }
  }
}
