<div @scaleFadeIn class="w-full h-full p-48" fxLayout="column" fxLayoutAlign="center center">
  <svg viewBox="0 0 432.68 384.05"
       width="100%"
       xmlns="http://www.w3.org/2000/svg"
       xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
      <linearGradient gradientUnits="userSpaceOnUse"
                      id="linear-gradient"
                      x1="355.23"
                      x2="378.79"
                      y1="172.71"
                      y2="172.71">
        <stop offset="0" stop-color="#e5c5d5"/>
        <stop offset="0.42" stop-color="#ead4d1"/>
        <stop offset="1" stop-color="#f0e9cb"/>
      </linearGradient>
      <linearGradient gradientUnits="userSpaceOnUse"
                      id="linear-gradient-2"
                      x1="374"
                      x2="359.59"
                      y1="164.44"
                      y2="160.85">
        <stop offset="0" stop-opacity="0"/>
        <stop offset="0.99"/>
      </linearGradient>
      <linearGradient id="linear-gradient-3"
                      x1="311.63"
                      x2="377.86"
                      xlink:href="#linear-gradient-2"
                      y1="217.67"
                      y2="290.28"/>
      <linearGradient id="linear-gradient-4"
                      x1="359.06"
                      x2="281.46"
                      xlink:href="#linear-gradient-2"
                      y1="183.34"
                      y2="220.85"/>
      <linearGradient id="linear-gradient-5"
                      x1="329.39"
                      x2="340.12"
                      xlink:href="#linear-gradient"
                      y1="134.53"
                      y2="134.53"/>
      <linearGradient id="linear-gradient-6"
                      x1="338.66"
                      x2="297.66"
                      xlink:href="#linear-gradient"
                      y1="134.69"
                      y2="129.1"/>
      <linearGradient id="linear-gradient-7"
                      x1="159.94"
                      x2="169.82"
                      xlink:href="#linear-gradient-2"
                      y1="257.05"
                      y2="-24.82"/>
      <linearGradient gradientUnits="userSpaceOnUse"
                      id="linear-gradient-8"
                      x1="206.01"
                      x2="202.42"
                      y1="179.18"
                      y2="74.65">
        <stop offset="0.02" stop-color="#fff" stop-opacity="0"/>
        <stop offset="0.58" stop-color="#fff" stop-opacity="0.39"/>
        <stop offset="0.68" stop-color="#fff" stop-opacity="0.68"/>
        <stop offset="1" stop-color="#fff"/>
      </linearGradient>
      <linearGradient id="linear-gradient-9"
                      x1="212.98"
                      x2="168.69"
                      xlink:href="#linear-gradient-2"
                      y1="159.3"
                      y2="346.02"/>
      <linearGradient id="linear-gradient-10"
                      x1="193.71"
                      x2="212.46"
                      xlink:href="#linear-gradient-2"
                      y1="259.62"
                      y2="163.87"/>
      <linearGradient id="linear-gradient-11"
                      x1="205.4"
                      x2="210.48"
                      xlink:href="#linear-gradient-2"
                      y1="212.6"
                      y2="314.94"/>
      <linearGradient id="linear-gradient-12"
                      x1="195.06"
                      x2="207.16"
                      xlink:href="#linear-gradient"
                      y1="266.51"
                      y2="266.51"/>
      <linearGradient id="linear-gradient-13"
                      x1="203.64"
                      x2="215.42"
                      xlink:href="#linear-gradient"
                      y1="266.34"
                      y2="266.34"/>
      <linearGradient id="linear-gradient-14"
                      x1="207.62"
                      x2="207.22"
                      xlink:href="#linear-gradient-2"
                      y1="170.06"
                      y2="140.53"/>
      <linearGradient id="linear-gradient-15"
                      x1="342.49"
                      x2="340"
                      xlink:href="#linear-gradient"
                      y1="108.25"
                      y2="131.59"/>
      <linearGradient id="linear-gradient-16"
                      x1="340.04"
                      x2="346.18"
                      xlink:href="#linear-gradient-2"
                      y1="102.97"
                      y2="117.48"/>
      <linearGradient id="linear-gradient-17"
                      x1="323.17"
                      x2="371.17"
                      xlink:href="#linear-gradient"
                      y1="181.01"
                      y2="181.01"/>
      <linearGradient id="linear-gradient-18"
                      x1="201.47"
                      x2="206.86"
                      xlink:href="#linear-gradient-2"
                      y1="263.23"
                      y2="218.94"/>
      <linearGradient id="linear-gradient-19"
                      x1="200.14"
                      x2="208.3"
                      xlink:href="#linear-gradient"
                      y1="165.2"
                      y2="165.2"/>
      <linearGradient id="linear-gradient-20"
                      x1="198.55"
                      x2="208.23"
                      xlink:href="#linear-gradient-2"
                      y1="160.2"
                      y2="179.35"/>
      <linearGradient id="linear-gradient-21"
                      x1="192.02"
                      x2="216.6"
                      xlink:href="#linear-gradient"
                      y1="147.57"
                      y2="147.57"/>
      <linearGradient id="linear-gradient-22"
                      x1="203.73"
                      x2="204.02"
                      xlink:href="#linear-gradient-2"
                      y1="131.16"
                      y2="144.47"/>
      <linearGradient id="linear-gradient-23"
                      x1="216.19"
                      x2="220.16"
                      xlink:href="#linear-gradient"
                      y1="148.53"
                      y2="148.53"/>
      <linearGradient id="linear-gradient-24"
                      x1="188.68"
                      x2="193.09"
                      xlink:href="#linear-gradient"
                      y1="147.92"
                      y2="147.92"/>
      <linearGradient id="linear-gradient-25"
                      x1="203.28"
                      x2="229.27"
                      xlink:href="#linear-gradient"
                      y1="185.86"
                      y2="185.86"/>
      <linearGradient id="linear-gradient-26"
                      x1="183.58"
                      x2="214.3"
                      xlink:href="#linear-gradient-2"
                      y1="207.1"
                      y2="246.59"/>
      <linearGradient id="linear-gradient-27"
                      x1="251.01"
                      x2="457.48"
                      xlink:href="#linear-gradient-2"
                      y1="191.29"
                      y2="184.11"/>
      <linearGradient id="linear-gradient-28"
                      x1="242.87"
                      x2="254.63"
                      xlink:href="#linear-gradient-2"
                      y1="341.17"
                      y2="281.84"/>
      <linearGradient id="linear-gradient-29"
                      x1="181.22"
                      x2="205.05"
                      xlink:href="#linear-gradient"
                      y1="186.28"
                      y2="186.28"/>
      <linearGradient id="linear-gradient-30"
                      x1="333.43"
                      x2="322.51"
                      xlink:href="#linear-gradient"
                      y1="122.82"
                      y2="135.59"/>
      <linearGradient id="linear-gradient-31"
                      x1="361.88"
                      x2="342.16"
                      xlink:href="#linear-gradient-2"
                      y1="154.07"
                      y2="160.5"/>
      <linearGradient id="linear-gradient-32"
                      x1="330.75"
                      x2="299.23"
                      xlink:href="#linear-gradient-8"
                      y1="163.51"
                      y2="153.73"/>
      <linearGradient id="linear-gradient-33"
                      x1="344.9"
                      x2="300.42"
                      xlink:href="#linear-gradient-2"
                      y1="160.92"
                      y2="182.86"/>
    </defs>
    <path d="M159.13,28c-11.33,13.37-18,30.64-31.27,42.05C115.8,80.37,99.77,84.6,85.9,92.37a91,91,0,0,0-28,134.39c5.59,7.37,12.46,14.15,15.29,23,5.38,16.71-5.38,35.19-1,52.18,2.42,9.34,9.09,16.9,15.56,24.06,13.51,15,28.14,30.69,47.62,36,24.17,6.59,50.45-4.37,74.74,1.8,11.5,2.92,21.69,9.49,32.6,14.15,39.71,17,89.74,5.58,118.19-26.92,5.92-6.75,11.07-14.39,18.47-19.48,17.85-12.29,42.67-6.18,62.87-14.05,23.34-9.1,36.16-38.81,26.75-62-5.71-14.09-17.86-24.77-23.85-38.74-17.29-40.3,22.16-88.77,4.49-128.91-13.11-29.78-51.05-39-83.58-38.17-18.33.46-37.21,2.8-54.6-3C259.94,29.28,211-33.25,159.13,28Z"
          fill="#5c77ff"
          opacity="0.18"
          style="isolation:isolate"
          transform="translate(-39.46 -1.67)"/>
    <path d="M147.06,312c-7.48,0-16.09.54-20.58,6.52l29.24,6.94c1.76.41,3.68.93,4.74,2.4,1.79,2.49.11,6,.83,9,1.24,5.14,8.17,5.84,13.44,5.43l46.71-3.68c11.66-.92,24.18-1.64,34.21,4.36,4.71,2.82,8.54,7,13.37,9.58,10.36,5.58,23.26,3,34.06-1.65s20.83-11.4,32.26-14.2c9.46-2.32,19.41-1.85,28.93-3.9a55.85,55.85,0,0,0,26-13.51c-.58.54-25.67-5.42-28.76-5.54-7.23-.28-14.47.41-21.71.39-21.07-.06-42.16-.85-63.22-1.16Q211.85,312,147.06,312Z"
          fill="#5c77ff"
          opacity="0.18"
          style="isolation:isolate"
          transform="translate(-39.46 -1.67)"/>
    <path d="M358.48,159.7a64.91,64.91,0,0,0,6.54,6.93.5.5,0,0,0,.26.15.45.45,0,0,0,.31-.09l.84-.45a29,29,0,0,0,9.72-1.41,2.29,2.29,0,0,1,1.83,0,1.59,1.59,0,0,1,.6.75,3.06,3.06,0,0,1-2.06,4,4,4,0,0,1-.75,4.43c-.87.85-2.09,1.26-3,2-2.25,1.88-2.27,5.26-3.47,7.94a3.16,3.16,0,0,1-1.09,1.43c-1.2.77-2.78,0-4-.82a45.18,45.18,0,0,1-5.13-4.15,7.48,7.48,0,0,1-1.89-2.37,8.36,8.36,0,0,1-.52-2.45l-1.44-13.19a1.47,1.47,0,0,1,.06-.78,1.32,1.32,0,0,1,.72-.54C357.05,160.69,357.37,159.61,358.48,159.7Z"
          fill="url(#linear-gradient)"
          transform="translate(-39.46 -1.67)"/>
    <path d="M365.79,164.49a20.33,20.33,0,0,1-1.3,2.14,9.45,9.45,0,0,0-1.09,1.58A6.39,6.39,0,0,0,363,171a2.72,2.72,0,0,0,.71,2.18,2.41,2.41,0,0,0,1.17.4,17.1,17.1,0,0,0,5.15,0,5.19,5.19,0,0,0,2.1-.71,5.67,5.67,0,0,0,1.57-1.83,118.67,118.67,0,0,0,8-14.7,1.26,1.26,0,0,0,.13-.43,1.1,1.1,0,0,0-.59-.92,5.62,5.62,0,0,0-2.55-.76,32.4,32.4,0,0,0-5-.22,4.42,4.42,0,0,0-1.62.28C371.22,154.67,366.9,162.49,365.79,164.49Z"
          fill="#5c77ff"
          transform="translate(-39.46 -1.67)"/>
    <path d="M365.79,164.49a20.33,20.33,0,0,1-1.3,2.14,9.45,9.45,0,0,0-1.09,1.58A6.39,6.39,0,0,0,363,171a2.72,2.72,0,0,0,.71,2.18,2.41,2.41,0,0,0,1.17.4,17.1,17.1,0,0,0,5.15,0,5.19,5.19,0,0,0,2.1-.71,5.67,5.67,0,0,0,1.57-1.83,118.67,118.67,0,0,0,8-14.7,1.26,1.26,0,0,0,.13-.43,1.1,1.1,0,0,0-.59-.92,5.62,5.62,0,0,0-2.55-.76,32.4,32.4,0,0,0-5-.22,4.42,4.42,0,0,0-1.62.28C371.22,154.67,366.9,162.49,365.79,164.49Z"
          fill="url(#linear-gradient-2)"
          transform="translate(-39.46 -1.67)"/>
    <path d="M367.08,165.43a17.87,17.87,0,0,1-1.29,2.14,9.53,9.53,0,0,0-1.09,1.59,6.37,6.37,0,0,0-.39,2.82,2.69,2.69,0,0,0,.71,2.18,2.48,2.48,0,0,0,1.17.4,17.36,17.36,0,0,0,5.14,0,5.18,5.18,0,0,0,2.11-.71A6,6,0,0,0,375,172a118.61,118.61,0,0,0,8-14.7,1.36,1.36,0,0,0,.14-.43,1.1,1.1,0,0,0-.59-.92,5.79,5.79,0,0,0-2.55-.77,32.52,32.52,0,0,0-5-.21,4.26,4.26,0,0,0-1.62.28C372.52,155.62,368.19,163.43,367.08,165.43Z"
          fill="#5c77ff"
          transform="translate(-39.46 -1.67)"/>
    <path d="M380.66,254.64a606.84,606.84,0,0,1-45.27,48.1,3,3,0,0,1-2.26,1.12,2.81,2.81,0,0,1-1.32-.74,35.61,35.61,0,0,1-8.48-10.54,1.22,1.22,0,0,1,.31-1.77Q341.51,272,358.73,252.5a3.27,3.27,0,0,0,.89-1.46,3.36,3.36,0,0,0-.8-2.36,155.83,155.83,0,0,1-15.08-29.2,3.12,3.12,0,0,1-.3-1.86,3,3,0,0,1,.9-1.32c3.64-3.59,14.8-11.88,19-5.63,2.59,3.87,4.1,9,5.88,13.28q2.94,7,5.62,14.18Q377.92,246.32,380.66,254.64Z"
          fill="#3e3e54"
          transform="translate(-39.46 -1.67)"/>
    <path d="M380.66,254.64a606.84,606.84,0,0,1-45.27,48.1,3,3,0,0,1-2.26,1.12,2.81,2.81,0,0,1-1.32-.74,35.61,35.61,0,0,1-8.48-10.54,1.22,1.22,0,0,1,.31-1.77Q341.51,272,358.73,252.5a3.27,3.27,0,0,0,.89-1.46,3.36,3.36,0,0,0-.8-2.36,155.83,155.83,0,0,1-15.08-29.2,3.12,3.12,0,0,1-.3-1.86,3,3,0,0,1,.9-1.32c3.64-3.59,14.8-11.88,19-5.63,2.59,3.87,4.1,9,5.88,13.28q2.94,7,5.62,14.18Q377.92,246.32,380.66,254.64Z"
          fill="url(#linear-gradient-3)"
          transform="translate(-39.46 -1.67)"/>
    <path d="M328.61,231.43c1.45,10.89,6.6,21,8.06,31.9.49,3.6.56,7.25,1.16,10.83.82,5,2.63,9.71,3.55,14.65,1.43,7.63.74,15.58,2.67,23.1a3.5,3.5,0,0,0,1,2,3.74,3.74,0,0,0,2.43.57l8.58.05a297.28,297.28,0,0,0-1.94-50.7c-.42-3.39-.9-6.79-1.12-10.2-.83-13,2.2-26.21.15-39.11a174,174,0,0,1-23.06.52c-1.71-.08-3.13-.69-3.56.89-.29,1,.9,4,1.06,5.17C328.07,224.51,328.15,228,328.61,231.43Z"
          fill="#3e3e54"
          transform="translate(-39.46 -1.67)"/>
    <path d="M364.16,211.33a4.55,4.55,0,0,1-1.62,1.49c-3.46,2.22-7,4.49-11.09,5.11-1.8.27-3.65.21-5.45.51-2.13.36-4.14,1.24-6.25,1.75a18.81,18.81,0,0,1-9.71-.26,17.29,17.29,0,0,1-3.52-1.42,11.18,11.18,0,0,1-1.66-1.07,5.55,5.55,0,0,1-1.8-2.3,8.14,8.14,0,0,1-.29-3.58v0c.72-10.23,2.21-21-2-30.34l-1.54.25a1.7,1.7,0,0,1-.22,0h0l-.16,0-.71.11A92.76,92.76,0,0,1,314.37,161c-.27-4.16-.22-8.56,1.85-12.18a16.62,16.62,0,0,1,7.52-6.4,18.88,18.88,0,0,1,5.32-1.5,56.13,56.13,0,0,1,10.61,0l7.09.45a6.71,6.71,0,0,1,2.39.45,5.33,5.33,0,0,1,1.66,1.33c3.68,4.06,4.77,10,8.28,14.12,0,0,0,0,0,0,.23.28.47.55.73.81.06.06.13.12.18.18l0,0a1,1,0,0,1,.37.86.19.19,0,0,1,0,.09v0a1.5,1.5,0,0,1-.42.59c-1.14,1.12-2.28,2.23-3.4,3.35.07.82.1,1.67.12,2.54.1,3.26,0,6.78.61,9.81q3.46,16.35,6.92,32.72A4.46,4.46,0,0,1,364.16,211.33Z"
          fill="#5c77ff"
          transform="translate(-39.46 -1.67)"/>
    <path d="M356.44,186.91a19.28,19.28,0,0,1-7,6c-3.22,1.59-6.8,2.24-10.29,3.08-2.12.51-4.42,1.23-5.63,3.06a9.26,9.26,0,0,0-1,4.95c-.07,4-.16,8-.23,12.06,0,1.23-.12,2.63-1.08,3.42a2.46,2.46,0,0,1-1.1.5,4.17,4.17,0,0,1-1.89-.14,6.79,6.79,0,0,1-3.29-2.35,9.92,9.92,0,0,1-1.82-4,12.71,12.71,0,0,1-.27-1.95c.72-10.23,2.21-21-2-30.34,5.27-7.66,7.7-3.33,13.61.53a22.83,22.83,0,0,0,4.14,2.06,18.2,18.2,0,0,0,8.06,1.61c3.16-.26,6-1.85,8.91-3.16C359.89,180.24,357.73,185.13,356.44,186.91Z"
          fill="url(#linear-gradient-4)"
          transform="translate(-39.46 -1.67)"/>
    <path d="M330.4,136c-.3,1.49-1,4.9-1,4.9a5.37,5.37,0,0,0,1.81,2,9.9,9.9,0,0,0,4.42,1.75c1.24.17,2.72,0,3.35-1.1a3.89,3.89,0,0,0,.4-1.52l.68-5.89a6.11,6.11,0,0,0,0-1.54,4.44,4.44,0,0,0-.6-1.48c-1.21-2-6.2-10.79-7.28-8.4S330.81,134,330.4,136Z"
          fill="url(#linear-gradient-5)"
          transform="translate(-39.46 -1.67)"/>
    <path d="M334.33,135.3a14.85,14.85,0,0,0,5.22,5.81,17.87,17.87,0,0,1,.59-4.77c.35-1.31.85-2.73.32-4a4.45,4.45,0,0,0-1-1.43c-1.44-1.44-4.57-3.77-6.81-3.08-.82.25-.63.38-.43,1.26.15.69.32,1.38.52,2.06A22.73,22.73,0,0,0,334.33,135.3Z"
          fill="url(#linear-gradient-6)"
          transform="translate(-39.46 -1.67)"/>
    <path d="M213.25,104.58a3.75,3.75,0,0,1-3.75-3.74V72.71a3.75,3.75,0,1,1,7.49,0v28.13A3.75,3.75,0,0,1,213.25,104.58Z"
          fill="#5c77ff"
          transform="translate(-39.46 -1.67)"/>
    <ellipse cx="167.16" cy="195.4" fill="#5c77ff" rx="79.51" ry="95.74"/>
    <ellipse cx="162.27" cy="190.69" fill="url(#linear-gradient-7)" rx="72.12" ry="80.79"/>
    <path d="M206.62,101.33c-43.91,0-79.5,42.87-79.5,95.75s35.59,95.74,79.5,95.74,79.51-42.87,79.51-95.74S250.54,101.33,206.62,101.33Zm-2.5,176.51c-41.14,0-74.5-37.47-74.5-83.67S163,110.5,204.12,110.5s74.51,37.46,74.51,83.67S245.27,277.84,204.12,277.84Z"
          fill="url(#linear-gradient-8)"
          transform="translate(-39.46 -1.67)"/>
    <path d="M172,205.71c1.82.1,1.42-3.36,1.58-5.18.52-5.92-.15-11.91.44-17.82s2.74-12.08,7.55-15.58c1.45-1,3.14-1.87,4.21-3.3,1.26-1.67,1.47-3.89,2.2-5.85,2-5.47,8.37-8.59,14.18-8s10.95,4.32,14.46,9c2,2.62,3.59,5.63,6.24,7.56,1.38,1,3,1.67,4.29,2.76a12.69,12.69,0,0,1,3.75,7c1.2,5.2.79,10.62,1.07,16s1.39,10.93,5,14.86c1.9,2.06,4.37,3.53,6.28,5.58s3.23,5.08,2.11,7.65-3.83,3.54-6.25,4.63c-9.71,4.34-17.93,12.09-28.28,14.5-9.28,2.16-19.13-.34-27.58-4.74S167.62,224,160,218.28C145.47,207.54,160,205,172,205.71Z"
          fill="url(#linear-gradient-9)"
          transform="translate(-39.46 -1.67)"/>
    <path d="M176.77,224.52c-3.4-6.55-9.06-13.48-16.42-12.82-1.86.17-3.67.85-5.54,1-3.74.23-7.22-1.75-10.84-2.73s-8.36-.42-9.86,3c-.93,2.14-.24,4.61.53,6.81,6,17,16.65,32.53,31.44,42.76s33.78,14.78,51.29,10.67c7.55-1.78,14.67-5.07,21.51-8.73,5.76-3.08,11.45-6.5,16-11.21,8.12-8.47,11.69-20.2,15-31.46,1-3.51,1.85-7.87-.83-10.36a7.34,7.34,0,0,0-4.82-1.66,14,14,0,0,0-10.2,4c-1.1,1.1-2.08,2.42-3.54,2.95-1.91.7-4-.18-6-.44-9.85-1.27-15.5,11.43-24.75,15.07-4.68,1.84-9.82,1.07-14.59,2.44-4.39,1.26-8.16,5.18-12.65,5.9C183.68,241.1,180.13,231,176.77,224.52Z"
          fill="#fff"
          transform="translate(-39.46 -1.67)"/>
    <path d="M176.77,224.52c-3.4-6.55-9.06-13.48-16.42-12.82-1.86.17-3.67.85-5.54,1-3.74.23-7.22-1.75-10.84-2.73s-8.36-.42-9.86,3c-.93,2.14-.24,4.61.53,6.81,6,17,16.65,32.53,31.44,42.76s33.78,14.78,51.29,10.67c7.55-1.78,14.67-5.07,21.51-8.73,5.76-3.08,11.45-6.5,16-11.21,8.12-8.47,11.69-20.2,15-31.46,1-3.51,1.85-7.87-.83-10.36a7.34,7.34,0,0,0-4.82-1.66,14,14,0,0,0-10.2,4c-1.1,1.1-2.08,2.42-3.54,2.95-1.91.7-4-.18-6-.44-9.85-1.27-15.5,11.43-24.75,15.07-4.68,1.84-9.82,1.07-14.59,2.44-4.39,1.26-8.16,5.18-12.65,5.9C183.68,241.1,180.13,231,176.77,224.52Z"
          fill="url(#linear-gradient-10)"
          transform="translate(-39.46 -1.67)"/>
    <path d="M175.34,224.93c-1.44-.22-2.68,1.29-2.73,2.75a7.86,7.86,0,0,0,1.43,4.08l5.7,9.88c-6.36,1-11.93-3.8-17.31-7.33-1.86-1.21-4.7-2.16-6-.36-.92,1.27-.28,3.15.89,4.18a14.56,14.56,0,0,0,4.19,2.09c5.06,2.11,9,6.36,13.93,8.7,3.24,1.52,6.8,2.18,10.19,3.33,3.22,1.09,6.63,3,7.43,6.34.59,2.47-.45,5-.44,7.56s2.06,5.53,4.47,4.74c1.54-.51,2.23-2.25,2.73-3.79l3.66-11.3c4,2.65,3.61,9.49,7.91,11.55l1.05-7.21a5.3,5.3,0,0,1,.54-2,4.54,4.54,0,0,1,3.15-1.84c2.47-.5,5.07-.3,7.46-1.09,3.45-1.15,5.88-4.16,8.57-6.61,3.12-2.85,6.76-5.06,10.06-7.71a48,48,0,0,0,14.18-19c-2.33-.78-4.84.86-6.24,2.88s-2.12,4.46-3.53,6.49a11.62,11.62,0,0,1-10.64,4.8,6.32,6.32,0,0,1,1.85-6.9,8.8,8.8,0,0,0,1.44-1.21c1.71-2.06-.64-5.4-3.31-5.64s-5.1,1.36-7.37,2.8a81.28,81.28,0,0,1-14.37,7.24c-3.54,1.37-7.29,2.51-11.08,2.21-5.8-.45-10.74-4-16.43-4.91-2.2-.34-5.25.84-7.12-.1S177.74,225.29,175.34,224.93Z"
          fill="url(#linear-gradient-11)"
          transform="translate(-39.46 -1.67)"/>
    <path d="M196.66,268a10,10,0,0,0-1.58,3.74,7.49,7.49,0,0,0,1.1,4.14c.58,1.1,1.48,2.3,2.71,2.22a3.16,3.16,0,0,0,1.29-.48,7.91,7.91,0,0,0,2.06-1.55c1.4-1.58,1.64-3.86,1.58-6s-.35-4.27.23-6.29c.73-2.55,2.79-4.65,3.11-7.28-1.41-.39-4.17-1.79-5.59-1.54s-1.17,2.12-1.37,3.23A28.74,28.74,0,0,1,196.66,268Z"
          fill="url(#linear-gradient-12)"
          transform="translate(-39.46 -1.67)"/>
    <path d="M205.69,260.1a14.24,14.24,0,0,1,.82,2.38,14,14,0,0,1,.24,2.42l.49,10.47a6.07,6.07,0,0,0,.7,3.1c.91,1.4,2.8,1.81,4.45,1.61a2.71,2.71,0,0,0,1.47-.54,2.78,2.78,0,0,0,.68-1,8.7,8.7,0,0,0,.81-2.53c.33-2.31-.6-4.61-1.64-6.7s-2.22-4.19-2.45-6.52c-.19-1.84.25-3.71.06-5.55-.16-1.57-.78-3.11-.66-4.68a30.65,30.65,0,0,0-3.42.62c-.9.22-2.68.43-3.4,1C203,255,205.24,259,205.69,260.1Z"
          fill="url(#linear-gradient-13)"
          transform="translate(-39.46 -1.67)"/>
    <path d="M189.17,150.1a15.25,15.25,0,0,1-3.38-10.53,16.22,16.22,0,0,1,4.49-10.15c2-2.06,4.69-3.65,7.51-3.37,1.06-1.46,3.17-1.88,4.93-2.27a17.55,17.55,0,0,1,9.24.3,13,13,0,0,1,7.22,5.62,19.54,19.54,0,0,1,2.19,8.59,46,46,0,0,0,1,8.87c.79,2.88,2.48,5.67,5.16,7a2.57,2.57,0,0,1,1.11.76c.52.76,0,1.8-.72,2.42a6.56,6.56,0,0,1-5.5,1.54l.86,1.89a.45.45,0,0,1-.19.72,5.15,5.15,0,0,1-5.19.11,8,8,0,0,1-.11,2.24,13.45,13.45,0,0,1-5.77-2.06c0,1.21-1.32,2.07-2.52,2a8.44,8.44,0,0,1-3.35-1.31,2,2,0,0,0-1-.33c-.73,0-1.22.7-1.78,1.16a4.38,4.38,0,0,1-3.76.66,11.54,11.54,0,0,1-3.54-1.73c.18.72-.58,1.41-1.32,1.41a3.09,3.09,0,0,1-1.95-.95,7.76,7.76,0,0,1-2.59-4.28,4.81,4.81,0,0,1-1.6,1.38,1.64,1.64,0,0,1-1.94-.34c-.55-.71-.17-1.72.23-2.52l1.39-2.81C189,152.67,190.2,151.36,189.17,150.1Z"
          fill="#3e3e54"
          transform="translate(-39.46 -1.67)"/>
    <path d="M228,157.33a6.52,6.52,0,0,1-5.49,1.54l.87,1.89a.57.57,0,0,1,.07.44.63.63,0,0,1-.27.29,5.2,5.2,0,0,1-5.19.1,8.39,8.39,0,0,1-.11,2.24,13.45,13.45,0,0,1-5.77-2.06c.05,1.21-1.31,2.06-2.53,2a8,8,0,0,1-3.34-1.31,2.12,2.12,0,0,0-1-.33c-.73,0-1.22.71-1.78,1.17a4.38,4.38,0,0,1-3.76.66,11.65,11.65,0,0,1-3.54-1.73c.18.72-.57,1.4-1.32,1.41a3.09,3.09,0,0,1-1.95-.95,7.7,7.7,0,0,1-2.59-4.29,4.73,4.73,0,0,1-1.6,1.39,1.67,1.67,0,0,1-2-.34c-.54-.71-.15-1.73.24-2.52.47-.94.92-1.87,1.39-2.81.72-1.45,1.9-2.76.87-4a14.83,14.83,0,0,1-2.85-5.5,15.89,15.89,0,0,1-.53-5,16.27,16.27,0,0,1,4.49-10.15c2-2,4.68-3.64,7.51-3.36,1.05-1.46,3.17-1.88,4.93-2.27a17.56,17.56,0,0,1,9.24.3,13,13,0,0,1,7.22,5.62,19.53,19.53,0,0,1,2.18,8.59,52.45,52.45,0,0,0,.88,8.22c0,.23.1.44.16.65.8,2.88,2.49,5.68,5.17,7a2.93,2.93,0,0,1,1.12.76C229.21,155.67,228.64,156.71,228,157.33Z"
          fill="url(#linear-gradient-14)"
          transform="translate(-39.46 -1.67)"/>
    <path d="M352,128.59a14.52,14.52,0,0,1-3.65,7.2c-2,1.9-5,2.9-7.51,1.91a11,11,0,0,1-4.3-3.7,21.37,21.37,0,0,1-2.89-4.35,13.85,13.85,0,0,1-2.92-2.37,5.3,5.3,0,0,1-1.76-3.87c.12-1.45,1.66-2.8,3-2.24,1.32-1.89,1.55-4.34,2.6-6.4a9.8,9.8,0,0,1,7.68-5.1,12,12,0,0,1,8.87,3A5.46,5.46,0,0,1,353,115.2c.51,1.81.2,4.27,0,6.13A49.34,49.34,0,0,1,352,128.59Z"
          fill="url(#linear-gradient-15)"
          transform="translate(-39.46 -1.67)"/>
    <path d="M355.16,107.8c-3.29.34-6.26-1.81-9-3.71s-6.05-3.73-9.19-2.67a5.92,5.92,0,0,0-2.28,1.43,5.89,5.89,0,0,1-1.48,1.3,7.81,7.81,0,0,1-1.3.38c-2.61.78-3.59,4-3.81,6.68a33.31,33.31,0,0,0,0,5.19c.15,1.88.62,4,2.25,4.95.89.51,2.09.64,2.64,1.51.23.36.41.89.84.91a.78.78,0,0,0,.56-.25c1.68-1.47.83-4.2,1.24-6.4a1.76,1.76,0,0,1,.27-.7,2.5,2.5,0,0,1,1-.66,5.92,5.92,0,0,0,2.79-3.18,14.79,14.79,0,0,0,6.45,4.16,7.74,7.74,0,0,1,2.33,1,14.23,14.23,0,0,1,1.58,1.71c2.18,2.24,6.19,1.92,8.45-.24a9.18,9.18,0,0,0,2.12-8.7,2.89,2.89,0,0,1-2.82,0c.26.15,2.55-3.4,2-4S356,107.71,355.16,107.8Z"
          fill="#3e3e54"
          transform="translate(-39.46 -1.67)"/>
    <path d="M355.16,107.8c-3.29.34-6.26-1.81-9-3.71s-6.05-3.73-9.19-2.67a5.92,5.92,0,0,0-2.28,1.43,5.89,5.89,0,0,1-1.48,1.3,7.81,7.81,0,0,1-1.3.38c-2.61.78-3.59,4-3.81,6.68a33.31,33.31,0,0,0,0,5.19c.15,1.88.62,4,2.25,4.95.89.51,2.09.64,2.64,1.51.23.36.41.89.84.91a.78.78,0,0,0,.56-.25c1.68-1.47.83-4.2,1.24-6.4a1.76,1.76,0,0,1,.27-.7,2.5,2.5,0,0,1,1-.66,5.92,5.92,0,0,0,2.79-3.18,14.79,14.79,0,0,0,6.45,4.16,7.74,7.74,0,0,1,2.33,1,14.23,14.23,0,0,1,1.58,1.71c2.18,2.24,6.19,1.92,8.45-.24a9.18,9.18,0,0,0,2.12-8.7,2.89,2.89,0,0,1-2.82,0c.26.15,2.55-3.4,2-4S356,107.71,355.16,107.8Z"
          fill="url(#linear-gradient-16)"
          transform="translate(-39.46 -1.67)"/>
    <path d="M329.88,170.55a113.12,113.12,0,0,0,9.61,8.69,3,3,0,0,0,1.06.62,3,3,0,0,0,1.59-.19c1.15-.37,2.29-.75,3.43-1.14A65.93,65.93,0,0,0,355,174.8c3-1.57,5.51-6.65,8.37-6.59.06.58-.42,1.37-.36,1.95a.84.84,0,0,0,.18.52.77.77,0,0,0,.39.17c2,.41,3.93-.82,5.82-1.62a1.68,1.68,0,0,1,.95-.19c.8.15,1,1.3.58,2a11.18,11.18,0,0,1-1.7,1.74c-1.48,1.6-1.42,4.08-2.45,6a5.8,5.8,0,0,1-4.34,3,13,13,0,0,0-1.54.18,6.82,6.82,0,0,0-2.29,1.31,66.44,66.44,0,0,1-12.3,6.68,25.26,25.26,0,0,1-5.37,2,38.79,38.79,0,0,0-4.3.81c-1.28.42-2.5,1.18-3.85,1.1-1.93-.13-3.27-1.92-4.34-3.54-2-3.08-4.62-6.65-5.27-10.37-.31-1.76,1.32-3,2.4-4.24Z"
          fill="url(#linear-gradient-17)"
          transform="translate(-39.46 -1.67)"/>
    <path d="M346.08,321.55a2,2,0,0,0,.3,1.13,1.62,1.62,0,0,0,.67.45,9,9,0,0,0,3.06.51q10.25.48,20.5.16a16,16,0,0,0-9.34-5.27c-1.69-.29-3.43-.31-5.1-.73a1,1,0,0,1-.43-.2,1,1,0,0,1-.19-.52l-.42-2.68A.63.63,0,0,0,355,314a.65.65,0,0,0-.47-.13l-4.69-.08c-.92,0-2.22-.24-3,.34s-.72,1.9-.76,2.82Q346,319.27,346.08,321.55Z"
          fill="#3e3e54"
          transform="translate(-39.46 -1.67)"/>
    <path d="M317.43,298.65a2.08,2.08,0,0,0-.7,1,2,2,0,0,0,.18,1.14c1.77,4.66,5.27,8.41,8.7,12,2.76,2.92,5.58,5.89,9.11,7.81,1.68-4.94-.09-10.58-3.42-14.6a2.6,2.6,0,0,1-.78-1.55,6.15,6.15,0,0,1,.56-1.55,3.58,3.58,0,0,0-1-3,22.72,22.72,0,0,0-5.82-5.75c-1.64-1-2-.23-3.28,1Z"
          fill="#3e3e54"
          transform="translate(-39.46 -1.67)"/>
    <path d="M186.62,169.87a8,8,0,0,0-3.34,2.42,8.38,8.38,0,0,0-1.15,3.61c-1.95,13.2-.91,26.63.13,39.93l1.46,18.6c.27,3.52.6,7.2,2.51,10.17a14.46,14.46,0,0,0,5.42,4.69c7.21,3.84,15.86,3.24,24,2.55a15.78,15.78,0,0,0,5.25-1.05,11.45,11.45,0,0,0,5.36-6c1.94-4.29,2.27-9.12,2.38-13.84.29-12.55-.85-25.13-.07-37.67.44-7,1.29-14.69-2.84-20.34a17.86,17.86,0,0,0-10.57-6.39C206.1,164.52,195,166,186.62,169.87Z"
          fill="#fff"
          transform="translate(-39.46 -1.67)"/>
    <path d="M179.81,229.27a32.43,32.43,0,0,0,.77,7.8,21.62,21.62,0,0,0,2.07,5.7A19.93,19.93,0,0,0,192.2,251a38.85,38.85,0,0,0,12.47,2.8,35.79,35.79,0,0,0,13.21-1,17.83,17.83,0,0,0,10.44-7.75c2.59-4.48,2.52-10,2.26-15.13-.29-5.54-.75-11.19-2.9-16.31a4.09,4.09,0,0,0-1-1.56,3,3,0,0,0-3.67.16,9,9,0,0,0-2.31,3.2L214,228.55a6.24,6.24,0,0,1-1.45,2.08c-1.36,1.12-3.4.88-5,.22a18.15,18.15,0,0,1-7.17-5.82c-1.93-2.44-3.52-5.13-5.37-7.63a11.84,11.84,0,0,0-2.5-2.64,11.16,11.16,0,0,0-6.05-1.65c-2.19-.09-2.7.24-3.55,2.3A39.18,39.18,0,0,0,179.81,229.27Z"
          fill="#3e3e54"
          transform="translate(-39.46 -1.67)"/>
    <path d="M179.81,229.27a32.43,32.43,0,0,0,.77,7.8,21.62,21.62,0,0,0,2.07,5.7A19.93,19.93,0,0,0,192.2,251a38.85,38.85,0,0,0,12.47,2.8,35.79,35.79,0,0,0,13.21-1,17.83,17.83,0,0,0,10.44-7.75c2.59-4.48,2.52-10,2.26-15.13-.29-5.54-.75-11.19-2.9-16.31a4.09,4.09,0,0,0-1-1.56,3,3,0,0,0-3.67.16,9,9,0,0,0-2.31,3.2L214,228.55a6.24,6.24,0,0,1-1.45,2.08c-1.36,1.12-3.4.88-5,.22a18.15,18.15,0,0,1-7.17-5.82c-1.93-2.44-3.52-5.13-5.37-7.63a11.84,11.84,0,0,0-2.5-2.64,11.16,11.16,0,0,0-6.05-1.65c-2.19-.09-2.7.24-3.55,2.3A39.18,39.18,0,0,0,179.81,229.27Z"
          fill="url(#linear-gradient-18)"
          transform="translate(-39.46 -1.67)"/>
    <path d="M183.75,171.82c-1.64.74-2.65,2.4-3.46,4a45.17,45.17,0,0,0-4.75,19.72c0,1.54.12,3.25,1.22,4.33,1.47,1.45,3.87,1.1,5.85.54,2.81-.79,5.92-2.21,6.65-5,.87-3.35-2.27-7.89-3.21-11.08C185.69,183.13,182.71,172.29,183.75,171.82Z"
          fill="#fff"
          transform="translate(-39.46 -1.67)"/>
    <path d="M200.41,167.69a6.2,6.2,0,0,0,.55,2.14,4.21,4.21,0,0,0,2.51,1.95,2.29,2.29,0,0,0,.86.11,2.1,2.1,0,0,0,.69-.2,4.71,4.71,0,0,0,1.77-1.42,7.48,7.48,0,0,0,1.24-3.48,36.4,36.4,0,0,0,.24-6.35,1.86,1.86,0,0,0-.55-1.54,1.9,1.9,0,0,0-.78-.22,28.53,28.53,0,0,0-3.06-.17,13.47,13.47,0,0,0-3.11.15c-.48.11-.42.31-.47.79s-.08,1-.11,1.53c-.06,1.06-.07,2.12,0,3.17S200.27,166.52,200.41,167.69Z"
          fill="url(#linear-gradient-19)"
          transform="translate(-39.46 -1.67)"/>
    <path d="M200.34,167.38a3,3,0,0,1,.47-1.18,1.82,1.82,0,0,1,1.28-.56,27.58,27.58,0,0,1,7.7,0,2.26,2.26,0,0,1,1.74.88,3.94,3.94,0,0,1,.39,2.1,76.85,76.85,0,0,1-.76,11.76c-.29,1.84-.78,3.88-2.09,4.75s-2.58.35-3.85-.08l-3.43-1.19a3.67,3.67,0,0,1-1-.44c-1.55-1.14-1.71-4.49-1.67-6.51A44.91,44.91,0,0,1,200.34,167.38Z"
          fill="#5c77ff"
          transform="translate(-39.46 -1.67)"/>
    <path d="M200.34,167.38a3,3,0,0,1,.47-1.18,1.82,1.82,0,0,1,1.28-.56,27.58,27.58,0,0,1,7.7,0,2.26,2.26,0,0,1,1.74.88,3.94,3.94,0,0,1,.39,2.1,76.85,76.85,0,0,1-.76,11.76c-.29,1.84-.78,3.88-2.09,4.75s-2.58.35-3.85-.08l-3.43-1.19a3.67,3.67,0,0,1-1-.44c-1.55-1.14-1.71-4.49-1.67-6.51A44.91,44.91,0,0,1,200.34,167.38Z"
          fill="url(#linear-gradient-20)"
          transform="translate(-39.46 -1.67)"/>
    <path d="M201.24,168.65a2.87,2.87,0,0,1,.47-1.18,1.85,1.85,0,0,1,1.27-.56,27.66,27.66,0,0,1,7.71,0,2.31,2.31,0,0,1,1.74.88,4,4,0,0,1,.39,2.1,76.85,76.85,0,0,1-.77,11.76c-.28,1.85-.78,3.88-2.09,4.75-1.16.78-2.58.36-3.85-.08l-3.42-1.19a3.53,3.53,0,0,1-1-.44c-1.55-1.14-1.71-4.49-1.67-6.51A44.28,44.28,0,0,1,201.24,168.65Z"
          fill="#5c77ff"
          transform="translate(-39.46 -1.67)"/>
    <path d="M193.43,152.55a17.4,17.4,0,0,0,2.78,3.57c1.46,1.56,3,3.16,5.09,3.72a10.32,10.32,0,0,0,5.87-.57,15.06,15.06,0,0,0,2.43-1,15.7,15.7,0,0,0,4.9-4.77,10.47,10.47,0,0,0,1.36-2.24,9.71,9.71,0,0,0,.63-2.94,28.6,28.6,0,0,0,0-4.44,9.07,9.07,0,0,0-1.71-5.31,7.66,7.66,0,0,0-2.61-1.92c-3.95-1.91-8.55-1.77-12.92-1.33-2,.21-4.12.54-5.55,1.94-1.87,1.83-1.85,4.07-1.64,6.43C192.38,146.79,191.89,149.68,193.43,152.55Z"
          fill="url(#linear-gradient-21)"
          transform="translate(-39.46 -1.67)"/>
    <path d="M222.24,146.51c-1.53,0-3.13-.11-3.34.2a1.78,1.78,0,0,1-2.31.25c0-.78,0-1.56,0-2.35A1.7,1.7,0,0,1,214.4,143a9.46,9.46,0,0,1-5.38.81,20.55,20.55,0,0,1-4.75-.75,13.43,13.43,0,0,1-8.47-9.4c-.11,1.8-1.82,3.37-2.49,5a18.8,18.8,0,0,0-.71,3.2,7.17,7.17,0,0,1-1.2,2.89,4.1,4.1,0,0,1-2.58,1.68,4.34,4.34,0,0,0-2.5-1.83,15.89,15.89,0,0,1-.53-5,16.27,16.27,0,0,1,4.49-10.15c2-2,4.68-3.64,7.51-3.36,1.05-1.46,3.17-1.88,4.93-2.27a17.56,17.56,0,0,1,9.24.3,13,13,0,0,1,7.22,5.62,19.53,19.53,0,0,1,2.18,8.59A52.45,52.45,0,0,0,222.24,146.51Z"
          fill="#3e3e54"
          transform="translate(-39.46 -1.67)"/>
    <path d="M222.24,146.51c-1.53,0-3.13-.11-3.34.2a1.78,1.78,0,0,1-2.31.25c0-.78,0-1.56,0-2.35A1.7,1.7,0,0,1,214.4,143a9.46,9.46,0,0,1-5.38.81,20.55,20.55,0,0,1-4.75-.75,13.43,13.43,0,0,1-8.47-9.4c-.11,1.8-1.82,3.37-2.49,5a18.8,18.8,0,0,0-.71,3.2,7.17,7.17,0,0,1-1.2,2.89,4.1,4.1,0,0,1-2.58,1.68,4.34,4.34,0,0,0-2.5-1.83,15.89,15.89,0,0,1-.53-5,16.27,16.27,0,0,1,4.49-10.15c2-2,4.68-3.64,7.51-3.36,1.05-1.46,3.17-1.88,4.93-2.27a17.56,17.56,0,0,1,9.24.3,13,13,0,0,1,7.22,5.62,19.53,19.53,0,0,1,2.18,8.59A52.45,52.45,0,0,0,222.24,146.51Z"
          fill="url(#linear-gradient-22)"
          transform="translate(-39.46 -1.67)"/>
    <path d="M218.14,151a2.89,2.89,0,0,0,1.61-1.12,3,3,0,0,0,.41-1.67,2.61,2.61,0,0,0-.9-2.12,1.72,1.72,0,0,0-2.67,1,3.8,3.8,0,0,0-.06,1.12,11.92,11.92,0,0,1-.3,2.6c-.11.56,0,.51.57.46A5.62,5.62,0,0,0,218.14,151Z"
          fill="url(#linear-gradient-23)"
          transform="translate(-39.46 -1.67)"/>
    <path d="M189.8,150.2a4.24,4.24,0,0,1-1.12-2.86,3.23,3.23,0,0,1,.3-1.56,2.44,2.44,0,0,1,.86-1,1.78,1.78,0,0,1,2.3.19,2.12,2.12,0,0,1,.34.69,10.1,10.1,0,0,1,.36,2.32c.06.73.12,1.46.17,2.18.05.57.27,1-.29,1.13C191.59,151.59,190.66,150.63,189.8,150.2Z"
          fill="url(#linear-gradient-24)"
          transform="translate(-39.46 -1.67)"/>
    <path d="M230.66,193.24a13.27,13.27,0,0,1,3,4,6.51,6.51,0,0,1,.31,4.84,4.35,4.35,0,0,1-3.69,2.91A6.29,6.29,0,0,1,227,204a25.29,25.29,0,0,1-6.6-4.88,1.84,1.84,0,0,1-.59-1,1.91,1.91,0,0,1,.57-1.35c1.47-1.88,3.06-5,5-6.36,1.14-.85,1.11-.64,2.41.33A26.32,26.32,0,0,1,230.66,193.24Z"
          fill="#fff"
          transform="translate(-39.46 -1.67)"/>
    <path d="M206.81,184.08a6.69,6.69,0,0,1-1.33-1.43c-1.17-1.87-.36-4.45-1.36-6.43-.37-.73-1-1.48-.79-2.27.27-1,1.69-1.19,2.74-1a13.14,13.14,0,0,1,4.75,1.88,5.41,5.41,0,0,0,1.81-2.51c1.25,1.34.63,3.5,1,5.3s2,3.31,3.42,4.59l10.46,9.16a3.15,3.15,0,0,1,.35,5.43c-1.14,1.35-2.38,3.2-4.12,2.37-2-.93-4-3.56-5.65-5Z"
          fill="url(#linear-gradient-25)"
          transform="translate(-39.46 -1.67)"/>
    <path d="M181.21,214.19l21.25,40.75,8.11-2.57s-10.53-52-16.44-54.88c-1.45-.7-4.87.44-8.6,2.49A10.63,10.63,0,0,0,181.21,214.19Z"
          fill="#3e3e54"
          transform="translate(-39.46 -1.67)"/>
    <path d="M181.21,214.19l21.25,40.75,8.11-2.57s-10.53-52-16.44-54.88c-1.45-.7-4.87.44-8.6,2.49A10.63,10.63,0,0,0,181.21,214.19Z"
          fill="url(#linear-gradient-26)"
          transform="translate(-39.46 -1.67)"/>
    <path d="M219.85,198.19s-5.22.42-6,3.75-14.26,52.58-14.26,52.58l10,2.5s19.15-41.63,20-47.46S219.85,198.19,219.85,198.19Z"
          fill="#3e3e54"
          transform="translate(-39.46 -1.67)"/>
    <path d="M219.85,198.19s-5.22.42-6,3.75-14.26,52.58-14.26,52.58l10,2.5s19.15-41.63,20-47.46S219.85,198.19,219.85,198.19Z"
          fill="#3e3e54"
          transform="translate(-39.46 -1.67)"/>
    <path d="M191.78,279.55a6.16,6.16,0,0,0,1.61,4.33,5,5,0,0,0,5.43.74,7.56,7.56,0,0,0,3.75-4.27,16.11,16.11,0,0,0,.85-5.73,3.87,3.87,0,0,0-.3-1.79,3.48,3.48,0,0,0-1.42-1.29c-1.87-1.08-5.71-2.46-7.37-.78C192.49,272.62,191.7,277.06,191.78,279.55Z"
          fill="#5c77ff"
          transform="translate(-39.46 -1.67)"/>
    <path d="M208.72,282.62a7.55,7.55,0,0,0,6.64,3.88,4.23,4.23,0,0,0,2.73-1.09,5.36,5.36,0,0,0,1.15-4.31,10.62,10.62,0,0,0-.67-3.15,16.51,16.51,0,0,0-3.69-5.09.51.51,0,0,0-.31-.21.59.59,0,0,0-.34.14,16.16,16.16,0,0,1-3.37,2.09c-2.09.82-3.61-.66-3.59,2.18A11.15,11.15,0,0,0,208.72,282.62Z"
          fill="#5c77ff"
          transform="translate(-39.46 -1.67)"/>
    <path d="M191.78,279.55a6.16,6.16,0,0,0,1.61,4.33,5,5,0,0,0,5.43.74,7.56,7.56,0,0,0,3.75-4.27,16.11,16.11,0,0,0,.85-5.73,3.87,3.87,0,0,0-.3-1.79,3.48,3.48,0,0,0-1.42-1.29c-1.87-1.08-5.71-2.46-7.37-.78C192.49,272.62,191.7,277.06,191.78,279.55Z"
          fill="#3e3e54"
          transform="translate(-39.46 -1.67)"/>
    <path d="M208.72,282.62a7.55,7.55,0,0,0,6.64,3.88,4.23,4.23,0,0,0,2.73-1.09,5.36,5.36,0,0,0,1.15-4.31,10.62,10.62,0,0,0-.67-3.15,16.51,16.51,0,0,0-3.69-5.09.51.51,0,0,0-.31-.21.59.59,0,0,0-.34.14,16.16,16.16,0,0,1-3.37,2.09c-2.09.82-3.61-.66-3.59,2.18A11.15,11.15,0,0,0,208.72,282.62Z"
          fill="#3e3e54"
          transform="translate(-39.46 -1.67)"/>
    <path d="M302,265.4c-13.78,24.63-33.71,40.35-49.53,51.31a3.73,3.73,0,0,1-2.13.67,3.58,3.58,0,0,1-1.25-.22,3.74,3.74,0,0,1-.88-6.61c15.15-10.49,34.23-25.53,47.25-48.8,14.78-26.42,19.36-59.48,13.61-98.26-5.31-35.84-25.64-61.73-60.43-76.94A155,155,0,0,0,197,74.28a3.75,3.75,0,0,1,.19-7.5,160.31,160.31,0,0,1,54.27,12.8c36.92,16.07,59.41,44.71,65.07,82.81C322.47,202.85,317.59,237.52,302,265.4Z"
          fill="#5c77ff"
          transform="translate(-39.46 -1.67)"/>
    <path d="M298.4,266c-13.71,24.5-33.53,40.2-49.32,51.15a3.74,3.74,0,0,1-.88-6.61c15.15-10.49,34.23-25.53,47.25-48.8,14.78-26.42,19.36-59.48,13.61-98.26-5.31-35.84-25.64-61.73-60.43-76.94A155,155,0,0,0,197,74.28a3.75,3.75,0,0,1-2-6.84,161.68,161.68,0,0,1,52.88,12.75c36.92,16,59.42,44.7,65.08,82.81C318.88,203.45,314,238.11,298.4,266Z"
          fill="url(#linear-gradient-27)"
          transform="translate(-39.46 -1.67)"/>
    <path d="M296.56,351.75l-.05.06a3.74,3.74,0,0,1-2.89,1.36,3.68,3.68,0,0,1-2.39-.86l-41.6-34.39-57.89,22.51a3.74,3.74,0,0,1-2.71-7l62-24.1,45,37.19A3.75,3.75,0,0,1,296.56,351.75Z"
          fill="#5c77ff"
          transform="translate(-39.46 -1.67)"/>
    <path d="M296.56,351.75l-.05.06a3.74,3.74,0,0,1-2.89,1.36,3.68,3.68,0,0,1-2.39-.86l-41.6-34.39-57.89,22.51a3.72,3.72,0,0,1-4.29-1.17,3.77,3.77,0,0,1,1.58-1.18L251,314l45,37.2A3.29,3.29,0,0,1,296.56,351.75Z"
          fill="url(#linear-gradient-28)"
          transform="translate(-39.46 -1.67)"/>
    <path d="M201.81,175.78a1.9,1.9,0,0,1-1.76-1.14c-.12-.34-.09-.72-.22-1.07s-.49-.66-.83-.51a.72.72,0,0,0-.31.29c-.76,1.11-.51,2.6-.82,3.92a8.06,8.06,0,0,1-1.33,2.65,37.29,37.29,0,0,1-11.32,10.18,9.63,9.63,0,0,0-3.19,2.55,5.53,5.53,0,0,0-.26,5.31,2.47,2.47,0,0,0,2.65,1.59,12.64,12.64,0,0,0,6.64-2.27,32.93,32.93,0,0,0,9.4-8.78,14.5,14.5,0,0,1,1.68-2.12,12.85,12.85,0,0,0,2.41-2.3,5.58,5.58,0,0,0,.13-4.31,14.1,14.1,0,0,1-.71-3.34c0-.46.14-1-.43-1S202.4,175.81,201.81,175.78Z"
          fill="url(#linear-gradient-29)"
          transform="translate(-39.46 -1.67)"/>
    <path d="M331.86,123a.78.78,0,0,0-1,0,1.16,1.16,0,0,0-.34,1,2.31,2.31,0,0,0,.41,1c.28.42.91,1.36,1.47,1.42s.78-.28.63-.76-.7-.67-.85-1.14S332.27,123.35,331.86,123Z"
          fill="url(#linear-gradient-30)"
          transform="translate(-39.46 -1.67)"/>
    <path d="M360.4,159.3v0a1.5,1.5,0,0,1-.42.59c-1.14,1.12-2.28,2.23-3.4,3.35.07.82-3.36-8.38-4-13.67,1,.23,2.4,3.26,3.12,4.11,1.07,1.26,2.24,2.43,3.39,3.61,0,0,0,0,0,0l.39.39a6.05,6.05,0,0,1,.52.6l0,0a1.82,1.82,0,0,1,.33.83S360.4,159.26,360.4,159.3Z"
          fill="url(#linear-gradient-31)"
          transform="translate(-39.46 -1.67)"/>
    <path d="M319.25,181.43a1.7,1.7,0,0,1-.22,0A.18.18,0,0,1,319.25,181.43Z"
          fill="none"
          transform="translate(-39.46 -1.67)"/>
    <path d="M329.06,141a2.8,2.8,0,0,1-.9,1.73c-2.3,2.37-5.45,3.09-7.3,6.15a20.61,20.61,0,0,0-2,5.31,56,56,0,0,0-2,9.49,18.44,18.44,0,0,0,1.37,9.5c.92,2,2.31,3.78,2.47,5.92a2.37,2.37,0,0,1-.2,1.27,2.76,2.76,0,0,1-1.18,1l-.45.2-.71.11A92.76,92.76,0,0,1,314.37,161c-.27-4.16-.22-8.56,1.85-12.18a16.62,16.62,0,0,1,7.52-6.4A18.88,18.88,0,0,1,329.06,141Z"
          fill="url(#linear-gradient-32)"
          transform="translate(-39.46 -1.67)"/>
    <path d="M329.57,157.21l3.82,7.54a22.06,22.06,0,0,1,1.65,3.88c.71,2.53.5,5.28,1.47,7.71-.47-1.17-3.75-2.61-4.69-3.63-2.16-2.34-.2-1.66.12-4.06.19-1.4-1.41-3.73-1.78-5.17A19.78,19.78,0,0,1,329.57,157.21Z"
          fill="url(#linear-gradient-33)"
          transform="translate(-39.46 -1.67)"/>
    <rect fill="#fff" height="29.86" rx="5.46" width="65.33" x="305.12" y="59.33"/>
    <polygon fill="#fff" points="305.39 68.9 305.39 100.05 312.81 72.88 305.39 68.9"/>
    <rect fill="#fff"
          height="29.86"
          rx="5.46"
          transform="translate(268.39 198.87) rotate(-180)"
          width="65.33"
          x="121.26"
          y="85.34"/>
    <polygon fill="#fff" points="146.86 93.24 146.86 124.38 139.44 97.22 146.86 93.24"/>
    <text fill="#5c77ff"
          font-family="Arial-Black, Arial Black"
          font-size="12.75"
          font-weight="800"
          transform="translate(331.85 76.41)">. . .
    </text>
    <text fill="#5c77ff"
          font-family="Arial-Black, Arial Black"
          font-size="12.75"
          font-weight="800"
          transform="translate(103.69 99.89)">. . .
    </text>
  </svg>

  <h2 class="display-1">Start a conversation</h2>
</div>
