:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  max-width: 80vw;
}

.display-1 {
  font: var(--font-display-1);
}

h3 {
  padding: 16px 16px 0;
}

p {
  margin: 0;
}

.list-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font: var(--font-subheading-2);
  justify-content: center;
  min-height: 72px;
  padding: 0 var(--padding-16);
  position: relative;
  user-select: none;

  &:hover {
    background: var(--background-hover);
  }
}

.progress-bar {
  margin-top: 8px;
}


