<div class="container px-page" fxLayout="row" fxLayoutAlign="start center">
  <ng-container *ngFor="let item of items">
    <div [class.hover:bg-hover]="!(isActive$ | async)(item)"
         [matMenuTriggerFor]="menu"
         [ngClass]="{ 'bg-primary-500 text-primary-contrast-500': (isActive$ | async)(item) }"
         class="navigation-item"
         matRipple>
      {{ item.label }}
    </div>

    <mat-menu #menu="matMenu" yPosition="below">
      <ng-container *ngFor="let child of item.children">
        <a *ngIf="isLink(child) && !isFunction(child.route)"
           [routerLink]="child.route"
           class="navigation-menu-item"
           mat-menu-item>
          <mat-icon [icIcon]="child.icon"></mat-icon>
          <span>{{ child.label }}</span>
        </a>

        <div (click)="child.route()"
             *ngIf="isLink(child) && isFunction(child.route)"
             class="navigation-menu-item"
             mat-menu-item>
          <mat-icon [icIcon]="child.icon"></mat-icon>
          <span>{{ child.label }}</span>
        </div>

        <ng-container *ngIf="isDropdown(child)">
          <button [matMenuTriggerFor]="level1" class="navigation-menu-item" mat-menu-item>
            <mat-icon [icIcon]="child.icon"></mat-icon>
            <span>{{ child.label }}</span>
          </button>

          <mat-menu #level1="matMenu" yPosition="below">
            <ng-container *ngFor="let item of child.children">
              <ng-container [ngTemplateOutletContext]="{ item: item }"
                            [ngTemplateOutlet]="linkTemplate"></ng-container>

              <ng-container *ngIf="isDropdown(item)">
                <button [matMenuTriggerFor]="level2"
                        class="navigation-menu-item"
                        mat-menu-item>{{ item.label }}</button>

                <mat-menu #level2="matMenu" yPosition="below">
                  <ng-container *ngFor="let child of item.children">
                    <ng-container [ngTemplateOutletContext]="{ item: item }"
                                  [ngTemplateOutlet]="linkTemplate"></ng-container>

                    <ng-container *ngIf="isDropdown(child)">
                      <button [matMenuTriggerFor]="level3"
                              class="navigation-menu-item"
                              mat-menu-item>{{ child.label }}</button>

                      <mat-menu #level3="matMenu" yPosition="below">
                        <ng-container *ngFor="let item of child.children">
                          <ng-container [ngTemplateOutletContext]="{ item: item }"
                                        [ngTemplateOutlet]="linkTemplate"></ng-container>

                          <ng-container *ngIf="isDropdown(item)">
                            <button [matMenuTriggerFor]="level4"
                                    class="navigation-menu-item"
                                    mat-menu-item>{{ item.label }}</button>

                            <mat-menu #level4="matMenu" yPosition="below">
                              <ng-container *ngFor="let child of item.children">
                                <ng-container [ngTemplateOutletContext]="{ item: item }"
                                              [ngTemplateOutlet]="linkTemplate"></ng-container>

                                <ng-container *ngIf="isDropdown(child)">
                                  <button [matMenuTriggerFor]="level5"
                                          class="navigation-menu-item"
                                          mat-menu-item>{{ child.label }}</button>

                                  <mat-menu #level5="matMenu" yPosition="below">
                                    <ng-container *ngFor="let item of child.children">
                                      <ng-container [ngTemplateOutletContext]="{ item: item }"
                                                    [ngTemplateOutlet]="linkTemplate"></ng-container>
                                    </ng-container>
                                  </mat-menu>
                                </ng-container>
                              </ng-container>
                            </mat-menu>
                          </ng-container>
                        </ng-container>
                      </mat-menu>
                    </ng-container>
                  </ng-container>
                </mat-menu>
              </ng-container>
            </ng-container>
          </mat-menu>
        </ng-container>

      </ng-container>
    </mat-menu>
  </ng-container>
</div>

<ng-template #linkTemplate let-item="item">
  <a *ngIf="isLink(item) && !isFunction(item.route)"
     [routerLink]="item.route"
     class="navigation-menu-item"
     mat-menu-item>{{ item.label }}</a>

  <div (click)="item.route()"
       *ngIf="isLink(item) && isFunction(item.route)"
       class="navigation-menu-item"
       mat-menu-item>{{ item.label }}</div>
</ng-template>
