:host {
  background: var(--navigation-background);
  display: block;
  height: var(--navigation-height);
  position: relative;
  z-index: 200;
}

.container {
  height: var(--navigation-height);
}

.navigation-item {
  border-radius: var(--border-radius);
  color: var(--navigation-color);
  cursor: pointer;
  font: var(--font-body-2);
  margin-right: var(--padding-8);
  padding: var(--padding-8) var(--padding-16);
  position: relative;
  transition: var(--swift-ease-out);
  user-select: none;
}

.navigation-menu-item {
  transition: var(--swift-ease-out);

  &:hover {
    color: var(--color-primary-500);

    .mat-icon {
      color: var(--color-primary-500);
    }
  }

  .mat-icon {
    transition: var(--swift-ease-out);
  }
}
