<div class="card overflow-hidden">
  <div (click)="openContact.emit(contact.id)"
       class="p-16 text-center hover:bg-hover swift-ease-out cursor-pointer relative"
       matRipple>
    <img [src]="contact?.imageSrc" class="avatar-96">

    <h2 class="title mb-4 mt-8">{{ contact?.name }}</h2>
    <div class="body-2 m-0 text-secondary">
      <ic-icon [icon]="icBusiness" class="mr-8" inline="true"></ic-icon>
      <span>{{ contact?.company }}</span>
    </div>

    <div class="body-2 m-0 text-secondary">
      <ic-icon [icon]="icPhone" class="mr-8" inline="true"></ic-icon>
      <span>{{ contact?.phone }}</span>
    </div>

    <button (click)="emitToggleStar($event, contact?.id)" class="absolute top-8 right-8" mat-icon-button type="button">
      <mat-icon *ngIf="contact?.starred" [icIcon]="icStar" class="text-amber-500"></mat-icon>
      <mat-icon *ngIf="!contact?.starred" [icIcon]="icStarBorder"></mat-icon>
    </button>
  </div>

  <div class="bg-app-bar p-8" fxLayout="row" fxLayoutAlign="space-around center">
    <button class="text-secondary" mat-icon-button type="button">
      <mat-icon [icIcon]="icPhone"></mat-icon>
    </button>

    <button class="text-secondary" mat-icon-button type="button">
      <mat-icon [icIcon]="icMail"></mat-icon>
    </button>

    <button class="text-secondary" mat-icon-button type="button">
      <mat-icon [icIcon]="icChat"></mat-icon>
    </button>
  </div>
</div>
