<div class="card">
  <div class="border-b py-16 px-24" fxLayout="row" fxLayoutAlign="start center">
    <h2 class="m-0 title" fxFlex="auto">User & Session Analytics</h2>

    <button mat-icon-button type="button">
      <mat-icon [icIcon]="icCloudDownload" class="text-secondary"></mat-icon>
    </button>

    <button mat-icon-button type="button">
      <mat-icon [icIcon]="icMoreHoriz" class="text-secondary"></mat-icon>
    </button>
  </div>

  <div class="pt-12 pb-4 pr-24">
    <vex-chart [options]="options" [series]="series"></vex-chart>
  </div>
</div>
