.config-panel {
  padding: var(--padding-16) var(--padding);
}

.heading {
  margin-bottom: var(--padding);
}

.section {
  border-bottom: 1px solid var(--foreground-divider);
  margin-bottom: var(--padding-16);
  padding-bottom: var(--padding-16);

  &:last-child {
    border-bottom: none;
  }
}

.section-content {
  margin-inline-start: var(--padding-12);

  .subheading {
    margin-top: var(--padding);
  }
}

.subheading {
  color: var(--text-secondary-color);
  font: var(--font-caption);
  font-weight: 500;
  text-transform: uppercase;
}

.style {
  align-items: center;
  border-radius: var(--border-radius);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding: var(--padding-8);
  transition: var(--swift-ease-out);

  &:hover {
    background: var(--background-hover);
  }
}

.color {
  align-items: center;
  border-radius: 50%;
  box-shadow: var(--elevation-z8);
  display: flex;
  flex-direction: row;
  height: 36px;
  justify-content: center;
  margin-inline-end: var(--padding-16);
  text-align: center;
  vertical-align: middle;
  width: 36px;

  &.light {
    background: white;
    color: #000;
  }

  &.dark {
    background: #303030;
    color: white;
  }

  &.flat {
    background: #f5f5f5;
    color: #000;
  }
}

mat-slide-toggle + mat-slide-toggle,
mat-slide-toggle + mat-checkbox,
mat-checkbox + mat-slide-toggle,
mat-checkbox + mat-checkbox {
  display: block;
  margin-top: var(--padding-12);
}

.style-name {
  font: var(--font-body-2);
}
