<div *ngIf="config$ | async as config" class="config-panel">
  <h2 class="headline m-0">
    <ic-icon [icon]="icSettings" class="mr-12" inline="true"></ic-icon>
    <span>Configuration</span>
  </h2>

  <div class="section">
    <h5 class="subheading">THEME STYLE</h5>

    <div class="styles">
      <div (click)="setActiveConfig(ConfigName.default)" class="style" matRipple>
        <div class="color bg-primary-500 text-primary-contrast-500">
          <mat-icon *ngIf="(activeConfig$ | async) === ConfigName.default" [icIcon]="icCheck"></mat-icon>
        </div>
        <div class="style-name">Default</div>
      </div>

      <div (click)="setActiveConfig(ConfigName.dark)" class="style" matRipple>
        <div class="color dark">
          <mat-icon *ngIf="(activeConfig$ | async) === ConfigName.dark" [icIcon]="icCheck"></mat-icon>
        </div>
        <div class="style-name">Dark</div>
      </div>

      <div (click)="setActiveConfig(ConfigName.light)" class="style" matRipple>
        <div class="color light">
          <mat-icon *ngIf="(activeConfig$ | async) === ConfigName.light" [icIcon]="icCheck"></mat-icon>
        </div>
        <div class="style-name">Light</div>
      </div>

      <div (click)="setActiveConfig(ConfigName.verticalDefault)" class="style" matRipple>
        <div class="color bg-primary-500 text-primary-contrast-500">
          <mat-icon *ngIf="(activeConfig$ | async) === ConfigName.verticalDefault" [icIcon]="icCheck"></mat-icon>
        </div>
        <div class="style-name">Vertical Default</div>
      </div>

      <div (click)="setActiveConfig(ConfigName.verticalDark)" class="style" matRipple>
        <div class="color dark">
          <mat-icon *ngIf="(activeConfig$ | async) === ConfigName.verticalDark" [icIcon]="icCheck"></mat-icon>
        </div>
        <div class="style-name">Vertical Dark</div>
      </div>

      <div (click)="setActiveConfig(ConfigName.verticalLight)" class="style" matRipple>
        <div class="color light">
          <mat-icon *ngIf="(activeConfig$ | async) === ConfigName.verticalLight" [icIcon]="icCheck"></mat-icon>
        </div>
        <div class="style-name">Vertical Light</div>
      </div>
    </div>
  </div>

  <div class="section">
    <h5 class="subheading">LAYOUT</h5>

    <div class="section-content">
      <h5 class="subheading">ORIENTATION</h5>

      <mat-slide-toggle (change)="layoutRTLChange($event)" [checked]="isRTL$ | async">RTL</mat-slide-toggle>
    </div>
  </div>

  <div class="section">
    <h5 class="subheading">TOOLBAR</h5>

    <div class="section-content">
      <h5 class="subheading">POSITION</h5>

      <mat-radio-group (change)="toolbarPositionChange($event)"
                       [value]="config.toolbar.fixed ? 'fixed' : 'static'"
                       fxLayout="column"
                       fxLayoutGap="12px">
        <mat-radio-button value="fixed">Fixed</mat-radio-button>
        <mat-radio-button value="static">Static</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div class="section">
    <h5 class="subheading">FOOTER</h5>

    <div class="section-content">
      <mat-slide-toggle (change)="footerVisibleChange($event)" [checked]="config.footer.visible">Visible
      </mat-slide-toggle>

      <h5 class="subheading">POSITION</h5>

      <mat-radio-group (change)="footerPositionChange($event)"
                       [value]="config.footer.fixed ? 'fixed' : 'static'"
                       fxLayout="column"
                       fxLayoutGap="12px">
        <mat-radio-button value="fixed">Fixed</mat-radio-button>
        <mat-radio-button value="static">Static</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div>
