@import "../../../../@vex/styles/plugins/angular-calendar";

vex-calendar {
  .calendar-bg {
    background: url('/assets/img/demo/landscape.jpg') no-repeat center;
    background-size: cover;
  }
}
