<div class="h-full" fxLayout="column">
  <div class="calendar-bg text-base-light" fxFlex="none">
    <div class="container py-16 px-24 h-200" fxLayout="row" fxLayoutAlign="start end">
      <div fxFlex="grow" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-between center">
        <div class="headline">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</div>

        <div class="actions" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="end center">
          <div class="chevrons">
            <button [(viewDate)]="viewDate" [view]="view" mat-icon-button mwlCalendarPreviousView>
              <mat-icon [icIcon]="icChevronLeft"></mat-icon>
            </button>
            <button [(viewDate)]="viewDate" [view]="view" mat-icon-button mwlCalendarNextView>
              <mat-icon [icIcon]="icChevronRight"></mat-icon>
            </button>
          </div>
          <div fxLayout="row">
            <button (click)="view = CalendarView.Month" mat-button>MONTH</button>
            <button (click)="view = CalendarView.Week" mat-button>WEEK</button>
            <button (click)="view = CalendarView.Day" mat-button>DAY</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div [ngSwitch]="view" class="container" fxFlex fxLayout="column">
    <div *ngSwitchCase="'month'" class="calendar-content" fxFlex vexScrollbar>
      <mwl-calendar-month-view
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        [activeDayIsOpen]="activeDayIsOpen"
        [events]="events"
        [refresh]="refresh"
        [viewDate]="viewDate"
        class="padding-horizontal padding-bottom"
        fxFlex>
      </mwl-calendar-month-view>
    </div>
    <div *ngSwitchCase="'week'" fxFlex fxLayout="column" vexScrollbar>
      <mwl-calendar-week-view
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        [events]="events"
        [refresh]="refresh"
        [viewDate]="viewDate"
        class="padding-horizontal padding-bottom"
        fxFlex>
      </mwl-calendar-week-view>
    </div>
    <div *ngSwitchCase="'day'" fxFlex fxLayout="column" vexScrollbar>
      <mwl-calendar-day-view
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        [events]="events"
        [refresh]="refresh"
        [viewDate]="viewDate"
        class="padding-horizontal padding-bottom"
        fxFlex>
      </mwl-calendar-day-view>
    </div>
  </div>
</div>
