<div *ngIf="board$ | async as board" class="h-full w-full overflow-hidden" fxLayout="column">

  <div class="py-16 px-page" fxFlex="none" fxLayout="row" fxLayoutAlign="start center">
    <h1 class="title m-0">Tech Startup Board</h1>
    <button (click)="toggleStar(board)" class="ml-8" mat-icon-button type="button">
      <mat-icon *ngIf="board.starred" [icIcon]="icStar" class="text-amber-500"></mat-icon>
      <mat-icon *ngIf="!board.starred" [icIcon]="icStarBorder"></mat-icon>
    </button>

    <span fxFlex></span>

    <div *ngIf="scrumboardUsers?.length > 0" fxFlex fxLayout="row" fxLayoutAlign="end center">
      <img *ngFor="let user of scrumboardUsers"
           [matTooltip]="user.name"
           [src]="user.imageSrc"
           class="avatar overlapping">
    </div>
  </div>

  <div (cdkDropListDropped)="dropList($event)"
       @stagger
       [cdkDropListData]="board.children"
       cdkDropList
       cdkDropListOrientation="horizontal"
       class="px-page pb-page min-h-0 overflow-x-auto"
       fxFlex="auto"
       fxLayout="row"
       fxLayoutAlign="start start"
       fxLayoutGap="24px">
    <div *ngFor="let list of board.children; trackBy: trackById"
         @fadeInUp
         [cdkDragData]="list"
         cdkDrag
         cdkDropListGroup
         class="rounded bg-app-bar overflow-hidden max-h-full w-300"
         fxFlex="none"
         fxLayout="column">
      <div cdkDragHandle class="p-16 cursor-pointer" fxFlex="none">
        <h2 class="subheading-2 font-medium m-0 select-none" fxFlex="none">{{ list.label }}</h2>
      </div>

      <div fxFlex="auto" vexScrollbar>
        <div (cdkDropListDropped)="drop($event)"
             [cdkDropListConnectedTo]="getConnectedList(board)"
             [cdkDropListData]="list.children"
             cdkDropList
             class="px-16 pb-16"
             id="{{ list.id }}">
          <div (click)="open(board, list, card)"
               *ngFor="let card of list.children; trackBy: trackById"
               [cdkDragData]="card"
               cdkDrag
               class="scrumboard-card card w-full cursor-pointer overflow-hidden">

            <div *ngIf="card.cover" class="w-full h-150 overflow-hidden">
              <img [src]="card.cover.path" class="object-cover w-full h-full">
            </div>

            <div class="p-16">
              <div *ngIf="card.labels?.length > 0" class="mb-8" fxLayout="row" fxLayoutGap="8px">
                <div *ngFor="let label of card.labels"
                     [style.background]="'var(' + label.background + ')' | safeStyle"
                     class="label"
                     fxFlex></div>
              </div>

              <h3 class="body-2 m-0 select-none">{{ card.title }}</h3>

              <div *ngIf="card.dueDate || card.comments?.length > 0 || card.attachments?.length > 0 || card.users?.length > 0"
                   class="mt-8"
                   fxLayout="row"
                   fxLayoutGap="8px">
                <div *ngIf="card.dueDate"
                     [ngClass]="{ 'bg-green-500 text-green-contrast-600': card.dueDate.done }"
                     class="box bg-app-bar text-secondary rounded caption">
                  <ic-icon [icon]="icNotifications" inline="true" size="16px"></ic-icon>
                  <span class="box-text">{{ card.dueDate.date | dateTokens:'MMM, dd' }}</span>
                </div>

                <div *ngIf="card.comments?.length > 0" class="box bg-app-bar text-secondary rounded caption">
                  <ic-icon [icon]="icInsertComment" class="ml-4" inline="true" size="15px"></ic-icon>
                  <span class="box-text">{{ card.comments.length }}</span>
                </div>

                <div *ngIf="card.attachments?.length > 0" class="box bg-app-bar text-secondary rounded caption">
                  <ic-icon [icon]="icAttachFile" inline="true" size="16px"></ic-icon>
                  <span class="box-text">{{ card.attachments.length }}</span>
                </div>

                <div *ngIf="card.users?.length > 0" fxFlex fxLayout="row" fxLayoutAlign="end center">
                  <img *ngFor="let user of card.users"
                       [matTooltip]="user.name"
                       [src]="user.imageSrc"
                       class="avatar overlapping">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div #addCardOriginRef class="bg-hover" fxFlex="none">
        <ng-template #addCardTemplate let-close="close">
          <div class="card px-16 pt-12 pb-8">
            <mat-form-field class="vex-dense-form-field">
              <mat-label>Card Title</mat-label>
              <input [formControl]="addCardCtrl" matInput placeholder="Enter your title...">
            </mat-form-field>

            <div class="mt-12" fxLayout="row" fxLayoutAlign="space-between center">
              <button (click)="close()" class="text-secondary w-32 h-32 leading-none" mat-icon-button type="button">
                <mat-icon [icIcon]="icClose" size="18px"></mat-icon>
              </button>
              <button (click)="createCard(list, close)" color="primary" mat-button type="button">CREATE</button>
            </div>
          </div>
        </ng-template>

        <button (click)="openAddCard(list, addCardTemplate, addCardOriginRef)"
                class="w-full"
                mat-button
                type="button">
          <ic-icon [icon]="icAdd" class="mr-4 -ml-4" inline="true"></ic-icon>
          <span>ADD CARD</span>
        </button>
      </div>
    </div>

    <div #addListOriginRef class="w-300 rounded bg-app-bar" fxFlex="none">
      <ng-template #addListTemplate let-close="close">
        <div class="card px-16 pt-12 pb-8">
          <mat-form-field class="vex-dense-form-field">
            <mat-label>List Title</mat-label>
            <input [formControl]="addListCtrl" matInput placeholder="Enter your title...">
          </mat-form-field>

          <div class="mt-12" fxLayout="row" fxLayoutAlign="space-between center">
            <button (click)="close()" class="text-secondary w-32 h-32 leading-none" mat-icon-button type="button">
              <mat-icon [icIcon]="icClose" size="18px"></mat-icon>
            </button>
            <button (click)="createList(board, close)" color="primary" mat-button type="button">CREATE</button>
          </div>
        </div>
      </ng-template>

      <button (click)="openAddList(board, addListTemplate, addListOriginRef)"
              class="w-full"
              mat-button
              type="button">
        <ic-icon [icon]="icAdd" class="mr-4 -ml-4" inline="true"></ic-icon>
        <span>ADD LIST</span>
      </button>
    </div>
  </div>

</div>
