.mat-icon-button .mat-button-wrapper > *,
.mat-menu-item .mat-icon,
.mat-button .mat-icon {
  vertical-align: middle !important;
}

.mat-icon.iconify {
  font-size: var(--default-icon-size);
  height: unset;
  width: unset;
}

.iconify, ic-icon:not(.ic-inline) {
  > svg {
    display: block;
    margin: 0 auto;
  }
}

.apexcharts-legend-text {
  margin-left: 4px;
  top: -1px;
}

.mat-table {
  mat-row, mat-header-row, mat-footer-row, th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    border-bottom-color: var(--foreground-divider);
  }
}

.mat-form-field {
  margin-bottom: 4px;
}

.mat-primary.mat-form-field {
  .mat-form-field-prefix, .mat-form-field-suffix {
    transition: var(--swift-ease-out);
  }

  &.mat-focused .mat-form-field-prefix,
  &.mat-focused .mat-form-field-suffix {
    color: var(--color-primary-500);
  }
}

.mat-form-field.mat-form-field-invalid {
  &.mat-focused .mat-form-field-prefix,
  &.mat-focused .mat-form-field-suffix {
    color: var(--color-red-500);
  }
}

.datepicker-prefix button {
  margin-left: -6px;
  margin-right: 4px;
}

.vex-flex-form-field {
  .mat-form-field-infix {
    width: 50px;
  }
}

.vex-dense-form-field {
  margin-bottom: -1.34375em;

  &.mat-form-field-appearance-outline {
    .mat-form-field-infix {
      padding-top: 4px;
    }
  }
}

.vex-tabs {
  .mat-tab-label.mat-tab-label-active {
    opacity: 1;
  }

  .mat-tab-link.mat-tab-label-active {
    opacity: 1;
  }
}

.vex-tabs-dense {

  .mat-tab-label {
    min-width: 0;
  }
}

pre {
  margin: 0;
}

.vex-scrollbar {
  min-height: 0;
}

.mat-paginator-page-size-select.mat-form-field .mat-form-field-flex {
  padding-top: 0;
}

.mat-table td.mat-cell {
  padding-left: var(--padding-12);
  padding-right: var(--padding-12);
  white-space: nowrap;
}

body .apexcharts-tooltip.light {
  background: var(--background-card);
}

input {
  color: currentColor;
}

.vex-scrollblock {
  position: fixed;
  width: 100%;
}

body.is-blink {

  ::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0);
    height: var(--blink-scrollbar-width);
    width: var(--blink-scrollbar-width);
  }

  ::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }

  ::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    border-radius: var(--blink-scrollbar-width);
    box-shadow: inset 0 0 0 12px rgba(0, 0, 0, 0.37);
  }

  ::-webkit-scrollbar-thumb:active {
    border-radius: var(--blink-scrollbar-width);
    box-shadow: inset 0 0 0 12px rgba(0, 0, 0, 0.54);
  }
}
