@import "~@angular/material/theming";
@import "./mixins";

$directions: ('', l, r, t, b, y, x);

$pixels: (
  96: 96px,
  80: 80px,
  64: 64px,
  56: 56px,
  48: 48px,
  44: 44px,
  40: 40px,
  36: 36px,
  32: 32px,
  24: 24px,
  20: 20px,
  16: 16px,
  12: 12px,
  8: 8px,
  6: 6px,
  4: 4px,
  0: 0
);

// Typography

:root body {

  .boxed {
    .container {
      margin-left: auto;
      margin-right: auto;
      max-width: var(--container-width);
      width: 100%;

      @extend .px-page;
    }
  }

  // Card

  .card {
    @extend .rounded;
    @extend .bg-card;
    @extend .shadow-8;
    transition: var(--elevation-transition);
  }

  .avatar {
    height: 40px;
    width: 40px;
    @extend .object-cover;
    @extend .rounded-full;
    @extend .bg-hover;
  }

  .avatar-36 {
    @extend .h-36;
    @extend .w-36;
    @extend .object-cover;
    @extend .rounded-full;
    @extend .bg-hover;
  }

  .avatar-96 {
    @extend .h-96;
    @extend .w-96;
    @extend .object-cover;
    @extend .rounded-full;
    @extend .bg-hover;
  }

  .avatar-120 {
    height: 120px;
    width: 120px;
    @extend .object-cover;
    @extend .rounded-full;
    @extend .bg-hover;
  }

  .list-item {
    @extend .rounded;
    @extend .hover\:bg-hover;
    @extend .h-48;
    @extend .px-16;
    @extend .cursor-pointer;
  }

  .hidden-input {
    border: 2px solid transparent;
    padding: var(--padding-4) 10px;
    @extend .rounded;

    &:focus {
      border-color: var(--color-primary-500);
      outline: none;
    }

    &.empty {
      border-color: var(--color-primary-500);
    }
  }

  @include space(padding, p, $directions, $pixels);
  @include space(margin, m, $directions, $pixels, true);

  @each $key, $pixel in $pixels {
    .ms-#{$key} {
      margin-inline-start: $pixel;
    }

    .me-#{$key} {
      margin-inline-end: $pixel;
    }

    .-ms-#{$key} {
      margin-inline-start: -$pixel;
    }

    .-me-#{$key} {
      margin-inline-end: -$pixel;
    }

    .ps-#{$key} {
      padding-inline-start: $pixel;
    }

    .pe-#{$key} {
      padding-inline-end: $pixel;
    }
  }

  .p-0\! {
    padding: 0 !important;
  }

  .px-page {
    padding-left: var(--padding-page);
    padding-right: var(--padding-page);
  }

  .p-page {
    padding: var(--padding-page);
  }


  .pb-page {
    padding-bottom: var(--padding-page);
  }

  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  // Typography

  .display-4 {
    font: var(--font-display-4);
  }

  .display-3 {
    font: var(--font-display-3);
  }

  .display-2 {
    font: var(--font-display-2);
  }

  .display-1, h1 {
    font: var(--font-display-1);
  }

  .headline, h2 {
    font: var(--font-headline);
  }

  .title, h3 {
    font: var(--font-title);
  }

  .subheading-2, h4 {
    font: var(--font-subheading-2);
  }

  .subheading-1, h5 {
    font: var(--font-subheading-1);
  }

  .body-2, h6 {
    font: var(--font-body-2);
  }

  .body-1, p {
    font: var(--font-body-1);
  }

  .caption {
    font: var(--font-caption);
  }

  // Font Weights

  .font-light {
    font-weight: 300;
  }

  .font-normal {
    font-weight: 400;
  }

  .font-medium {
    font-weight: 500;
  }

  .font-bold {
    font-weight: 700;
  }

  // Border

  .border-0 {
    border: 0;
  }

  .border {
    border: 1px solid var(--foreground-divider);
  }

  $border: (
    t: top,
    r: right,
    b: bottom,
    l: left,
    e: inline-end,
    s: inline-start
  );

  .border-2 {
    border: 2px solid transparent;
  }

  .border-3 {
    border: 3px solid transparent;
  }

  @each $property, $direction in $border {
    .border-#{$property} {
      border-#{$direction}: 1px solid var(--foreground-divider);
    }

    .border-#{$property}-2 {
      border-#{$direction}: 2px solid var(--foreground-divider);
    }

    .border-#{$property}-3 {
      border-#{$direction}: 3px solid var(--foreground-divider);
    }
  }

  // Background Colors & Text Colors & Border Colors

  .bg-card {
    background-color: var(--background-card);
  }

  .bg-sidenav {
    background: var(--sidenav-background);
  }

  .bg-hover {
    background: var(--background-hover);
  }

  .bg-base {
    background: var(--background-base);
  }

  .bg-app-bar {
    background: var(--background-app-bar);
  }

  .bg-pattern {
    background: linear-gradient(135deg, var(--background-base) 22px, var(--background-hover) 22px, var(--background-hover) 24px, transparent 24px, transparent 67px, var(--background-hover) 67px, var(--background-hover) 69px, transparent 69px),
    linear-gradient(225deg, var(--background-base) 22px, var(--background-hover) 22px, var(--background-hover) 24px, transparent 24px, transparent 67px, var(--background-hover) 67px, var(--background-hover) 69px, transparent 69px) 0 64px;
    background-color: var(--background-base);
    background-size: 64px 128px;
  }


  .text-base {
    color: var(--text-color);
  }

  .text-base-light {
    color: var(--text-color-light);
  }

  .text-secondary {
    color: var(--text-secondary-color);
  }

  .text-secondary-light {
    color: var(--text-secondary-color-light);
  }

  .text-hint {
    color: var(--text-hint);
  }

  .border-base {
    color: var(--foreground-divider);
  }

  @each $color in ("primary", "red", "green", "amber", "orange", "deep-orange", "purple", "deep-purple", "cyan", "teal", "grey", "light-green") {
    @for $i from 0 through 9 {
      $i: $i * 100;

      @if $i == 0 {
        $i: 50;
      }

      .bg-#{$color}-#{$i} {
        background: var(--color-#{$color}-#{$i});
      }

      .text-#{$color}-#{$i} {
        color: var(--color-#{$color}-#{$i});
      }

      .border-#{$color}-#{$i} {
        border-color: var(--color-#{$color}-#{$i});
      }

      .bg-#{$color}-contrast-#{$i} {
        background: var(--color-#{$color}-contrast-#{$i});
      }

      .text-#{$color}-contrast-#{$i} {
        color: var(--color-#{$color}-contrast-#{$i});
      }
    }
  }

  // Border

  .rounded {
    border-radius: var(--border-radius);
  }

  .rounded-full {
    border-radius: 9999999px;
  }

  // Elevation

  @for $i from 0 through 20 {
    .shadow-#{$i} {
      box-shadow: var(--elevation-z#{$i});
    }
  }

  .shadow-b {
    box-shadow: 0 10px 30px 0 rgba(82, 63, 104, .06)
  }

  // Hover

  .hover\:shadow-8:hover {
    @extend .shadow-8;
  }

  .hover\:shadow-16:hover {
    @extend .shadow-16;
  }

  .hover\:bg-hover:hover {
    background: var(--background-hover);
  }

  .hover\:bg-app-bar:hover {
    background: var(--background-app-bar);
  }

  .hover\:text-primary-500:hover {
    @extend .text-primary-500;
  }

  // Generic

  .relative {
    position: relative;
  }

  .absolute {
    position: absolute;
  }

  .sticky {
    position: sticky;
  }

  .fixed {
    position: fixed;
  }

  $widthHeight: map_merge($pixels, (
    300: 300px,
    250: 250px,
    200: 200px,
    150: 150px,
    100: 100px,
    40: 40px
  ));

  // Width & Height
  @each $key, $pixel in $widthHeight {
    .w-#{$key} {
      width: $pixel;
    }

    .h-#{$key} {
      height: $pixel;
    }
  }

  .h-auto {
    height: auto;
  }

  .w-full {
    width: 100%;
  }

  .h-full {
    height: 100%;
  }

  .max-h-full {
    max-height: 100%;
  }

  .w-240 {
    width: 240px;
  }

  .max-w-3\/4 {
    max-width: 75%;
  }

  .max-w-xs {
    max-width: 20rem;
  }

  .max-w-sm {
    max-width: 24rem;
  }

  .max-w-md {
    max-width: 28rem;
  }

  .max-w-lg {
    max-width: 32rem;
  }

  .max-w-xl {
    max-width: 36rem;
  }

  .max-w-xxl {
    max-width: 40rem;
  }

  .max-w-xxxl {
    max-width: 44rem;
  }

  .max-w-full {
    max-width: 100%;
  }

  .max-w-container {
    max-width: 1200px;
  }

  .min-w-xs {
    min-width: 20rem;
  }

  .min-w-sm {
    min-width: 24rem;
  }

  .min-w-md {
    min-width: 28rem;
  }

  .min-w-lg {
    min-width: 32rem;
  }

  .min-w-xl {
    min-width: 36rem;
  }

  .min-h-0 {
    min-height: 0;
  }

  // Opacity

  @for $i from 0 through 5 {
    .opacity-#{$i * 25} {
      opacity: $i * 25 / 100;
    }
  }

  // Flex

  .flex-center {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  // Top & Right & Bottom & Left

  .top-toolbar-height {
    top: var(--toolbar-height);
  }

  @each $position in (top, right, bottom, left) {
    @each $key, $pixel in $pixels {
      .#{$position}-#{$key} {
        #{$position}: $pixel;
      }

      .-#{$position}-#{$key} {
        #{$position}: -$pixel;
      }
    }
  }

  // Cursor

  .cursor-pointer {
    cursor: pointer;
  }

  // Fill
  .fill-current {
    fill: currentColor;
  }

  // Border Radius
  $border-radius: (
    tl: top-left,
    tr: top-right,
    br: bottom-right,
    bl: bottom-left
  );

  @each $property, $direction in $border-radius {
    .rounded-#{$property} {
      border-#{$direction}-radius: var(--border-radius);
    }
  }

  // Outline

  .outline-none {
    outline: 0;
  }

  // Object Fit
  .object-cover {
    object-fit: cover;
  }

  // Overflow

  .overflow-hidden {
    overflow: hidden;
  }

  .overflow-auto {
    overflow: auto;
  }

  .overflow-y-hidden {
    overflow-y: hidden;
  }

  .overflow-y-auto {
    overflow-y: auto;
    overflow-y: overlay;
  }

  .overflow-x-hidden {
    overflow-x: hidden;
  }

  .overflow-x-auto {
    overflow-x: auto;
    overflow-x: overlay;
  }

  // Placeholder
  .placeholder\:text-secondary::placeholder {
    @extend .text-secondary;
  }

  // Line Height

  .leading-none {
    line-height: 1;
  }

  .leading-tight {
    line-height: 1.25;
  }

  .leading-snug {
    line-height: 1.375;
  }

  .leading-normal {
    line-height: 1.5;
  }

  // Text Align
  .text-left {
    text-align: left;
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }

  .text-justify {
    text-align: justify;
  }

  // Word Break

  .truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  // Pseudo Class Variants
  .first-of-type\:border-t:first-of-type {
    @extend .border-t;
  }

  // User Select

  .select-none {
    user-select: none;
  }

  // Display
  .block {
    display: block;
  }

  .inline-block {
    display: inline-block;
  }

  .hidden {
    display: none;
  }

  // Visibility

  .visible {
    visibility: visible;
  }

  .invisible {
    visibility: hidden;
  }

  // Text Decoration
  .no-underline {
    text-decoration: none;
  }

  // Z-Index

  @each $index in (0, 1, 2, 10, 20, 30, 40, 50) {
    .z-#{$index} {
      z-index: $index;
    }
  }

  .-z-1 {
    z-index: -1;
  }

  // Vertical Align

  @each $align in (baseline, top, middle, bottom, text-top, text-bottom) {
    .align-#{$align} {
      vertical-align: $align;
    }
  }

  // Transitions

  .swift-ease-out {
    transition: var(--swift-ease-out);
  }

  .shadow-transition {
    @include mat-elevation-transition();
  }

  // Social
  $color-facebook: #3b5998;
  $color-twitter: #00aced;
  $color-instagram: #cd486b;
  $color-pinterest: #C92228;
  $color-github: #000;

  .bg-facebook {
    background: $color-facebook;
    color: white;
  }

  .bg-twitter {
    background: $color-twitter;
    color: white;
  }

  .bg-instagram {
    background: $color-instagram;
    color: white;
  }

  .bg-pinterest {
    background: $color-pinterest;
    color: white;
  }

  .bg-github {
    background: $color-github;
    color: white;
  }

  // Box Sizing

  .border-box {
    box-sizing: border-box;
  }

  // Misc

  code {
    background: var(--background-app-bar);
    border-radius: var(--border-radius);
    color: var(--text-color);
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 85%;
    padding: .2em .4em;
  }

  blockquote {
    background: var(--color-primary-50);
    border-left: 3px solid var(--color-primary-500);
    color: rgba(0, 0, 0, .87);
    font-style: normal;
    margin: 1em 0 1.5em;
    padding: 1em 1.5em;

    > * {
      margin: 0;
    }
  }
}
