<div class="card">
  <div class="border-b py-16 px-24" fxLayout="row" fxLayoutAlign="start center">
    <h2 class="m-0 title" fxFlex="auto">Sales Overview</h2>

    <button mat-icon-button type="button">
      <mat-icon [icIcon]="icCloudDownload" class="text-secondary"></mat-icon>
    </button>

    <button mat-icon-button type="button">
      <mat-icon [icIcon]="icMoreHoriz" class="text-secondary"></mat-icon>
    </button>
  </div>

  <div class="py-24 px-24" fxLayout="row" fxLayout.lt-md="column">
    <div class="pb-24 pt-16 px-24" fxFlex="auto" fxLayout="column">
      <h2 class="display-2 font-bold m-0">{{ total }}</h2>
      <h3 class="title font-medium mt-6 mb-0">Sales this month</h3>

      <div class="mt-24" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
        <div class="w-32 h-32 bg-green-50 text-green-500 rounded"
             fxFlex="none"
             fxLayout="row"
             fxLayoutAlign="center center">
          <ic-icon [icon]="faCaretUp" height="20px" inline="true" width="20px"></ic-icon>
        </div>

        <p class="text-secondary m-0"><span class="font-medium text-green-500">11% more sales</span> in comparison to
          last
          month.</p>
      </div>

      <div class="mt-16" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
        <div class="w-32 h-32 bg-red-50 text-red-500 rounded"
             fxFlex="none"
             fxLayout="row"
             fxLayoutAlign="center center">
          <ic-icon [icon]="faCaretDown" height="20px" inline="true" width="20px"></ic-icon>
        </div>

        <p class="text-secondary m-0"><span class="font-medium text-red-500">-2% revenue per sale</span> in comparison
          to
          last month.</p>
      </div>

      <div class="mt-24" fxFlex="auto" fxLayout="column" fxLayoutAlign="end">
        <button color="primary" mat-raised-button type="button">
          VIEW DETAILS
        </button>
      </div>
    </div>

    <div fxFlex="50%" fxFlexOffset="48px">
      <vex-chart [options]="options" [series]="series"></vex-chart>
    </div>
  </div>
</div>
