<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
  <h2 class="title m-0" fxFlex="auto">{{ guide.label }}</h2>

  <button class="text-secondary" mat-icon-button type="button">
    <mat-icon [icIcon]="icLaunch"></mat-icon>
  </button>

  <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
    <mat-icon [icIcon]="icClose"></mat-icon>
  </button>
</div>

<mat-divider class="-mx-24 text-border"></mat-divider>

<mat-dialog-content fxLayout="column">
  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
    texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>

  <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic
    country, in which roasted parts of sentences fly into your mouth.</p>

  <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day
    however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>

  <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious
    Semikoli, but the Little Blind Text didn’t listen.</p>

  <p>She packed her seven versalia, put her initial into the belt and made herself on the way.</p>

  <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown
    Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>

  <p>Pityful a rethoric question ran over her cheek, then she continued her way. On her way she met a copy.</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button cdkFocusInitial color="primary" mat-button mat-dialog-close type="button">CLOSE</button>
</mat-dialog-actions>
