<div class="card" fxLayout="column" fxLayout.gt-sm="row">
  <div class="p-24">
    <h2 class="title mt-0">Preview</h2>
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="24px">
      <mat-slider fxFlex max="10" min="1" thumbLabel tickInterval="1" value="7"></mat-slider>
      <mat-slider color="primary" fxFlex max="10" min="1" value="2"></mat-slider>
      <mat-slider color="warn" fxFlex max="10" min="1" value="8"></mat-slider>
    </div>
  </div>

  <div class="border-l" fxFlex>
    <div class="p-24">
      <h2 class="title mt-0">Slider</h2>
      <h4 class="body-2 text-secondary m-0">&lt;mat-slider&gt;</h4>
    </div>

    <mat-tab-group class="vex-tabs">
      <mat-tab label="DESCRIPTION">
        <p class="p-24">
          Sliders are ideal components for adjusting settings that reflect intensity levels, such as volume, brightness,
          or color saturation.
          <br>
          <br>Sliders may have icons on both ends of the bar that reflect the value intensity. Place the smallest value
          for the slider range on the left and the largest value on the right.
        </p>
      </mat-tab>
      <mat-tab label="SOURCE CODE">
        <pre><code [vexHighlight]="sliderHTML"></code></pre>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

