<div class="card" fxLayout="column" fxLayout.gt-sm="row">
  <div class="p-24">
    <h2 class="title mt-0">Preview</h2>
    <div fxLayout="column">
      <mat-form-field>
        <button (click)="show()" *ngIf="!visible" mat-icon-button matPrefix type="button">
          <mat-icon [icIcon]="icLock" matPrefix></mat-icon>
        </button>
        <button (click)="hide()" *ngIf="visible" mat-icon-button matPrefix type="button">
          <mat-icon [icIcon]="icLockOpen" matPrefix></mat-icon>
        </button>
        <mat-label>Password</mat-label>
        <input [type]="inputType" matInput value="Hello!">
        <button (click)="show()" *ngIf="!visible" mat-icon-button matSuffix type="button">
          <mat-icon [icIcon]="icVisibility"></mat-icon>
        </button>
        <button (click)="hide()" *ngIf="visible" mat-icon-button matSuffix type="button">
          <mat-icon [icIcon]="icVisibilityOff"></mat-icon>
        </button>
        <mat-hint>Try clicking the eye or the lock to toggle the visibility.</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <div class="border-l" fxFlex>
    <div class="p-24">
      <h2 class="title mt-0">Input</h2>
      <h4 class="body-2 text-secondary m-0">&lt;mat-input&gt;</h4>
    </div>

    <mat-tab-group class="vex-tabs">
      <mat-tab label="DESCRIPTION">
        <p class="p-24">
          Text fields typically reside in forms but can appear in other places, like dialog boxes and search.
        </p>
      </mat-tab>
      <mat-tab label="SOURCE CODE">
        <pre><code [vexHighlight]="inputHTML"></code></pre>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

