<div class="h-full" fxLayout="column">
  <div class="p-24 pb-0 bg-card shadow-b" fxFlex="none">
    <div class="container">
      <h1 class="display-1 mt-0 mb-16" fxLayout="row" fxLayoutAlign="start center">
      <span @scaleIn
            class="block w-48 h-48 rounded-full bg-primary-50 text-primary-500 me-16"
            fxLayout="row"
            fxLayoutAlign="center center">
      <ic-icon [icon]="icContacts" size="24px"></ic-icon>
      </span>
        <span @fadeInRight class="block">Contacts</span>
      </h1>

      <div fxLayout="row" fxLayoutAlign="start center">
        <nav class="vex-tabs border-0" fxFlex="auto" mat-tab-nav-bar>
          <a #rla="routerLinkActive"
             *ngFor="let link of links"
             [active]="rla.isActive"
             [disabled]="link.disabled"
             [routerLink]="link.route"
             mat-tab-link
             routerLinkActive>
            {{ link.label }}
          </a>
        </nav>

        <button color="primary" fxFlex="none" fxHide.xs mat-icon-button matTooltip="Search Contacts" type="button">
          <mat-icon [icIcon]="icSearch"></mat-icon>
        </button>

        <button class="ms-4"
                color="primary"
                fxFlex="none"
                fxHide.xs
                mat-icon-button
                matTooltip="Export Contacts"
                type="button">
          <mat-icon [icIcon]="icCloudDownload"></mat-icon>
        </button>

        <button class="ms-4" color="primary" fxFlex="none" mat-icon-button matTooltip="Filter Contacts" type="button">
          <mat-icon [icIcon]="icFilterList"></mat-icon>
        </button>

        <button (click)="openContact()"
                class="ms-4"
                color="primary"
                fxFlex="none"
                fxHide.gt-xs
                mat-mini-fab
                matTooltip="Add Contact"
                type="button">
          <mat-icon [icIcon]="icPersonAdd"></mat-icon>
        </button>

        <button (click)="openContact()"
                class="ms-16"
                color="primary"
                fxFlex="none"
                fxHide.xs
                mat-raised-button
                type="button">
          <ic-icon [icon]="icPersonAdd" class="me-8 -ms-4" inline="true" size="20px"></ic-icon>
          <span>ADD CONTACT</span>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="(filteredContacts$ | async).length > 0"
       @stagger
       class="overflow-y-auto"
       fxFlex="auto">
    <div class="container p-page"
         gdColumns="1fr 1fr 1fr 1fr"
         gdColumns.lt-md="1fr 1fr"
         gdColumns.xs="1fr"
         gdGap="24px">
      <vex-contacts-card (openContact)="openContact($event)"
                         (toggleStar)="toggleStar($event)"
                         *ngFor="let contact of filteredContacts$ | async; trackBy: trackById"
                         @fadeInUp
                         [contact]="contact"></vex-contacts-card>
    </div>
  </div>

  <div *ngIf="(filteredContacts$ | async).length === 0"
       @scaleFadeIn
       fxFlex="auto"
       fxLayout="column"
       fxLayoutAlign="center center">
    <img class="m-48 h-300" src="assets/img/illustrations/idea.svg">
    <h2 class="headline m-0 text-center">No contacts matching your filters</h2>
  </div>
</div>
