<div class="h-full" fxLayout="column">
  <div class="px-page pt-24 pb-0 bg-card shadow-b">
    <div class="container">
      <h1 class="display-1 mt-0 mb-16" fxLayout="row" fxLayoutAlign="start center">
    <span @scaleIn
          class="block w-48 h-48 rounded-full bg-primary-50 text-primary-500 me-16"
          fxLayout="row"
          fxLayoutAlign="center center">
      <ic-icon [icon]="icStar" size="24px"></ic-icon>
      </span>
        <span @fadeInRight class="block">Icons</span>
      </h1>

      <div fxLayout="row" fxLayoutAlign="start center">
        <nav class="vex-tabs border-0" fxFlex="auto" mat-tab-nav-bar>
          <a #rla="routerLinkActive"
             *ngFor="let link of links"
             [active]="rla.isActive"
             [disabled]="link.disabled"
             [routerLink]="link.route"
             mat-tab-link
             queryParamsHandling="preserve"
             routerLinkActive>
            {{ link.label }}
          </a>
        </nav>

        <input #colorInput [formControl]="colorCtrl" class="hidden" type="color">
        <button (click)="colorInput.click()"
                color="primary"
                fxFlex="none"
                mat-icon-button
                matTooltip="Change Icon Color"
                type="button">
          <mat-icon [icIcon]="icFormatColorFill"></mat-icon>
        </button>

        <div class="border rounded-full text-hint overflow-hidden bg-card ml-8"
             fxFlex="none"
             fxHide.xs
             fxLayout="row"
             fxLayoutAlign="start center">
          <ic-icon [icon]="icSearch" class="ml-16 mr-12" size="18px"></ic-icon>
          <input [formControl]="searchCtrl"
                 class="outline-none border-0 h-36 placeholder:text-secondary body-1 bg-card"
                 fxFlex="auto"
                 placeholder="Search Icons..."
                 type="text">
        </div>
      </div>
    </div>
  </div>

  <div [style.color]="color$ | async" class="overflow-y-auto p-page" fxFlex="auto">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
