@import "~@angular/flex-layout/mq";

.icon-container {
  display: inline-block !important;
  margin-top: var(--padding);
  overflow: hidden;
  width: 25%;

  @include layout-bp(xs) {
    width: 50%;
  }

  .body-2 {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.icon {
  color: inherit;
}
