<div class="card" fxLayout="column" fxLayout.gt-sm="row">
  <div class="p-24" fxFlex="none">
    <h2 class="title mt-0 mb-16">Preview</h2>

    <mat-form-field class="w-300 max-w-full">
      <mat-label>Select a State</mat-label>
      <input [formControl]="stateCtrl" [matAutocomplete]="auto" matInput>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let state of filteredStates$ | async" [value]="state.name">
          <img [src]="state.flag" class="align-middle mr-16 shadow-6" height="25">
          <span class="body-1">{{ state.name }}</span>
          <span class="text-hint"> | </span>
          <span class="caption text-secondary">Population: {{ state.population }}</span>
        </mat-option>
      </mat-autocomplete>
      <button (click)="stateCtrl.reset()" *ngIf="stateCtrl.value" mat-icon-button matSuffix type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
      </button>
      <button *ngIf="!stateCtrl.value" mat-icon-button matSuffix type="button">
        <mat-icon [icIcon]="icArrowDropDown" height="24px" width="24px"></mat-icon>
      </button>
      <mat-hint>Add this hint for a better UX!</mat-hint>
    </mat-form-field>
  </div>

  <div class="border-l" fxFlex="auto">
    <div class="p-24">
      <h2 class="title mt-0">Autocomplete</h2>
      <h4 class="body-2 text-secondary m-0">&lt;mat-autocomplete&gt;</h4>
    </div>

    <mat-tab-group class="vex-tabs">
      <mat-tab label="DESCRIPTION">
        <div class="p-24">
          <p class="m-0">
            Input text can be used with autocomplete to help users who have limited literacy or who write in a foreign
            language.
            <br>
            <br><span class="font-medium">For example, autocomplete can:</span>
          </p>
          <ul>
            <li>Suggest input as it’s typed (refreshing suggestions with each keystroke)</li>
            <li>Fill a field with default input text</li>
            <li>Pressing the return button accepts the current autocomplete suggestion.</li>
          </ul>
        </div>
      </mat-tab>
      <mat-tab label="SOURCE CODE">
        <pre><code [vexHighlight]="autocompleteHTML"></code></pre>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
