<vex-page-layout>

  <vex-secondary-toolbar current="Documentation">
    <vex-breadcrumbs [crumbs]="['Documentation', 'Vex']" fxFlex="auto"></vex-breadcrumbs>

    <button class="ml-8" color="primary" mat-icon-button type="button">
      <mat-icon [icIcon]="icMoreVert"></mat-icon>
    </button>
  </vex-secondary-toolbar>

  <vex-page-layout-content>
    <div class="card p-page relative">
      <showdown src="/README.md"></showdown>
    </div>
  </vex-page-layout-content>
</vex-page-layout>
