@import "~@angular/flex-layout/mq";
@import "../../../@vex/styles/mixins";

.user {
  border-radius: var(--border-radius);
  cursor: pointer;
  padding: var(--padding-4) var(--padding-4) var(--padding-4) var(--padding-12);
  position: relative;
  transition: var(--swift-ease-out);
  user-select: none;

  &:hover, &.active {
    background: mat-color((500: rgba(var(--primary-color-500), 1)), 500, 0.1);
  }

  @include layout-bp(xs) {
    margin-inline-start: var(--padding-4);
    padding: var(--padding-4);
  }
}

.mat-icon {
  color: rgb(var(--primary-color-500));
}

.user-name {
  font: var(--font-body-1);
  font-weight: var(--font-weight-semi-bold);
  line-height: 1.3;
  margin-inline-end: var(--padding-12);
}

.user-status {
  font-size: 11px;
  line-height: 1.3;
  text-align: end;
}

.user-image {
  background: mat-color((500: rgba(var(--primary-color-500), 1)), 500, 0.1);
  border-radius: 99999999px;
  height: 36px;
  width: 36px;
}
