<div class="h-56">&nbsp;</div>

<div class="fixed top-toolbar-height w-full bg-card shadow-b py-4 z-40 h-56 border-t"
     fxLayout="row">
  <div class="container px-page" fxFlex="auto" fxLayout="row" fxLayoutAlign="start center">
    <h1 *ngIf="current" class="subheading-2 font-medium m-0 pe-12 border-e me-12" fxFlex.xs="auto">{{ current }}</h1>

    <ng-content></ng-content>
  </div>
</div>
