@import "~@angular/flex-layout/mq";

::ng-deep .is-mobile .fixed {
  width: 100%;
}

::ng-deep body .fixed {
  width: calc(100% - var(--sidenav-width));
}

@include layout-bp(xs) {
  ::ng-deep vex-breadcrumbs {
    display: none !important;
  }
}
