@media print {
  .p-page {
    padding: 0 !important;
  }

  .card {
    box-shadow: none !important;
  }
}


.table {
  td {
    padding-left: var(--padding);
    padding-right: var(--padding);
  }
}
