<div class="h-full w-full p-page text-center">
  <img class="w-full max-w-lg mb-24" src="assets/img/illustrations/under_constructions_1.svg">

  <h1 class="display-3 font-medium m-0">500</h1>
  <h2 class="title m-0 mt-12 max-w-lg mx-auto">Looks like we have an internal error, please try again later.</h2>

  <div class="bg-card rounded-full overflow-hidden relative ps-20 h-48 max-w-md w-full shadow-8 mx-auto mt-24"
       fxLayout="row"
       fxLayoutAlign="start center">
    <ic-icon [icon]="icSearch" class="text-secondary" fxFlex="none" height="24px" width="24px"></ic-icon>
    <input class="border-0 h-48 outline-none ps-16 placeholder:text-secondary bg-card"
           fxFlex="auto"
           placeholder="Search for other pages ..."
           type="text">
  </div>
</div>
