<div class="footer" fxLayout="row">
  <div class="container" fxFlex="auto" fxLayout="row" fxLayoutAlign="start center">
    <a class="action"
       color="primary"
       fxFlex="none"
       href="https://themeforest.net/item/fury-angular-2-material-design-admin-template/19325966?ref=visurel"
       id="get-fury"
       mat-raised-button>
      <ic-icon [icon]="icShoppingBasket" class="me-8" inline="true" size="18px"></ic-icon>
      <span>Get Vex (Angular 8+)</span>
    </a>
    <div class="ms-16" fxHide fxShow.gt-sm>
      Vex - Angular 8+ Material Design Admin Template - Save 100s of hours designing and coding
    </div>
  </div>
</div>
