@import "~@angular/flex-layout/mq";

.vex-page-layout {
  display: block;
}

.vex-page-layout-simple {

  .vex-page-layout-content {
    padding-bottom: var(--padding);
    padding-top: var(--padding);

    @include layout-bp(lt-md) {
      padding-bottom: var(--padding-16);
      padding-top: var(--padding-16);
    }
  }
}

.vex-page-layout-card {
  padding-bottom: var(--padding);

  .vex-page-layout-header {
    margin-bottom: calc(var(--page-layout-toolbar-height) * -1);
    padding-bottom: var(--page-layout-toolbar-height);
  }

  .vex-page-layout-content {
    > * > .mat-tab-group .mat-tab-label,
    > .mat-tab-group .mat-tab-label {
      height: var(--page-layout-toolbar-height);

      &.mat-tab-label-active {
        opacity: 1;
      }
    }
  }
}

.vex-page-layout-header {
  align-items: center;
  background: var(--color-primary-500);
  box-sizing: content-box !important;
  color: var(--color-primary-contrast-500);
  display: flex;
  flex-direction: row;
  height: calc(var(--page-layout-height) - var(--page-layout-toolbar-height));
  padding-left: var(--padding);
  padding-right: var(--padding);
  place-content: center flex-start;
}

.vex-page-layout-content {
  box-sizing: border-box;
  display: block;
  padding-left: var(--padding);
  padding-right: var(--padding);

  @include layout-bp(lt-md) {
    padding-left: var(--padding-16);
    padding-right: var(--padding-16);
  }
}
