<div class="bg-card py-64 px-page">
  <h1 class="display-1 mt-48 mb-16 text-center">Pricing & Plans</h1>
  <h2 class="subheading-2 text-hint text-center max-w-lg mx-auto m-0">Simple, transparent pricing.</h2>
</div>

<div class="my-48 container max-w-container mx-auto px-page"
     fxLayout="row"
     fxLayout.xs="column"
     fxLayoutAlign="start start"
     fxLayoutAlign.xs="start stretch"
     fxLayoutGap="24px">

  <div class="card p-24" fxFlex fxLayout="column" fxLayoutAlign="start center">
    <div class="inline-block p-24 rounded-full bg-primary-50 text-primary-500 mx-auto"
         fxLayout="row"
         fxLayoutAlign="center center">
      <ic-icon [icon]="icBeenhere" size="48px"></ic-icon>
    </div>

    <h2 class="headline my-24">Basic Plan</h2>

    <div class="body-1"><span class="body-2">2</span> Users</div>
    <div class="body-1"><span class="body-2">10</span> Projects</div>
    <div class="body-1"><span class="body-2">10GB</span> Storage</div>
    <div class="body-1"><span class="body-2">Basic</span> Support</div>

    <h3 class="display-2 font-bold my-24">19<span class="text-secondary headline align-top">$</span></h3>

    <button class="rounded-full max-w-full w-200" color="primary" mat-raised-button type="button">PURCHASE</button>
  </div>

  <div class="card p-24" fxFlex fxLayout="column" fxLayoutAlign="start center">
    <div class="inline-block p-24 rounded-full bg-primary-50 text-primary-500 mx-auto"
         fxLayout="row"
         fxLayoutAlign="center center">
      <ic-icon [icon]="icStars" size="48px"></ic-icon>
    </div>

    <h2 class="headline my-24">Premium Plan</h2>

    <div class="body-1"><span class="body-2">10</span> Users</div>
    <div class="body-1"><span class="body-2">500</span> Projects</div>
    <div class="body-1"><span class="body-2">1TB</span> Storage</div>
    <div class="body-1"><span class="body-2">Priority</span> Support</div>

    <h3 class="display-2 font-bold my-24">59<span class="text-secondary headline align-top">$</span></h3>

    <button class="rounded-full max-w-full w-200" color="primary" mat-raised-button type="button">PURCHASE</button>
  </div>

  <div class="card p-24" fxFlex fxLayout="column" fxLayoutAlign="start center">
    <div class="inline-block p-24 rounded-full bg-primary-50 text-primary-500 mx-auto"
         fxLayout="row"
         fxLayoutAlign="center center">
      <ic-icon [icon]="icBusinessCenter" size="48px"></ic-icon>
    </div>

    <h2 class="headline my-24">Enterprise Plan</h2>

    <div class="body-1"><span class="body-2">Unlimited</span> Users</div>
    <div class="body-1"><span class="body-2">Unlimited</span> Projects</div>
    <div class="body-1"><span class="body-2">Unlimited</span> Storage</div>
    <div class="body-1"><span class="body-2">Dedicated</span> Support</div>

    <h3 class="display-2 font-bold my-24">699<span class="text-secondary headline align-top">$</span></h3>

    <button class="rounded-full max-w-full w-200" color="primary" mat-raised-button type="button">PURCHASE</button>
  </div>

</div>
