<div @stagger>
  <div class="text-center p-page pb-96 header">
    <div class="max-w-container mx-auto container">
      <h2 @fadeInUp class="display-2 mt-64 mb-32">Hello, how can we help?</h2>
      <div @fadeInUp
           class="border rounded-full bg-card py-8 pl-24 pr-12 text-secondary max-w-xl mx-auto shadow-8"
           fxLayout="row"
           fxLayoutAlign="start center">
        <ic-icon [icon]="icSearch" fxFlex="none" size="24px"></ic-icon>
        <input class="border-0 ml-16 placeholder:text-secondary subheading-2 outline-none font-medium w-0 bg-card"
               fxFlex="auto"
               placeholder="Search for answers..."
               type="text">
        <button class="rounded-full" color="primary" fxFlex="none" mat-raised-button type="button">SEARCH</button>
      </div>
    </div>

    <div class="text-left mt-96 mb-48 container max-w-container mx-auto px-page"
         gdAlignColumns="start start"
         gdColumns="1fr 1fr"
         gdColumns.lt-md="1fr"
         gdGap="24px">

      <div @fadeInUp class="card max-w-full overflow-hidden p-12">
        <mat-nav-list>
          <h3 mat-subheader>First Steps</h3>
          <a (click)="guide.onClick(guide)"
             *ngFor="let guide of accountSettings; trackBy: trackById"
             class="rounded overflow-hidden"
             mat-list-item>
            <mat-icon [icIcon]="guide.icon" mat-list-icon></mat-icon>
            <span matLine>{{ guide.label }}</span>
          </a>
        </mat-nav-list>
      </div>

      <div @fadeInUp class="card max-w-full overflow-hidden p-12">
        <mat-nav-list>
          <h3 mat-subheader>API Help</h3>
          <a (click)="guide.onClick(guide)"
             *ngFor="let guide of apiHelp; trackBy: trackById"
             class="rounded overflow-hidden"
             mat-list-item>
            <mat-icon [icIcon]="guide.icon" mat-list-icon></mat-icon>
            <span matLine>{{ guide.label }}</span>
          </a>
        </mat-nav-list>
      </div>

      <div @fadeInUp class="card max-w-full overflow-hidden p-12">
        <mat-nav-list>
          <h3 mat-subheader>Billing</h3>
          <a (click)="guide.onClick(guide)"
             *ngFor="let guide of billing; trackBy: trackById"
             class="rounded overflow-hidden"
             mat-list-item>
            <mat-icon [icIcon]="guide.icon" mat-list-icon></mat-icon>
            <span matLine>{{ guide.label }}</span>
          </a>
        </mat-nav-list>
      </div>

      <div @fadeInUp class="card max-w-full overflow-hidden p-12">
        <mat-nav-list>
          <h3 mat-subheader>First Steps</h3>
          <a (click)="guide.onClick(guide)"
             *ngFor="let guide of firstSteps; trackBy: trackById"
             class="rounded overflow-hidden"
             mat-list-item>
            <mat-icon [icIcon]="guide.icon" mat-list-icon></mat-icon>
            <span matLine>{{ guide.label }}</span>
          </a>
        </mat-nav-list>
      </div>
    </div>
  </div>

  <div @fadeInUp class="bg-card py-64 px-page footer">
    <h2 class="display-1 mt-0 mb-16 text-center">Still have questions?</h2>
    <h3 class="subheading-2 text-hint text-center max-w-lg mx-auto m-0">A wonderful serenity has taken possession of my
      entire
      soul, like these sweet
      mornings of spring which I enjoy with my whole heart.</h3>

    <div class="mt-64 max-w-xxxl mx-auto" fxLayout="row" fxLayout.xs="column" fxLayoutGap="24px">
      <a class="text-center p-24 border rounded"
         fxFlex
         routerLinkActive>
        <ic-icon [icon]="icPhoneInTalk" class="text-hint" size="42px"></ic-icon>
        <h3 class="title mb-0 mt-16">+1 (840) 423-3404</h3>
        <h4 class="subheading-2 m-0 text-hint">Call us anytime for a quick solution</h4>
      </a>

      <a class="text-center p-24 border rounded"
         fxFlex
         routerLinkActive>
        <ic-icon [icon]="icMail" class="text-hint" size="42px"></ic-icon>
        <h3 class="title mb-0 mt-16">support@example.com</h3>
        <h4 class="subheading-2 m-0 text-hint">Send us a mail to resolve your issue</h4>
      </a>
    </div>
  </div>
</div>
