<div class="card" fxLayout="column" fxLayout.gt-sm="row">
  <div class="p-24">
    <h2 class="title mt-0">Preview</h2>
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="24px">
      <mat-progress-spinner [value]="80" mode="determinate"></mat-progress-spinner>
      <mat-progress-spinner color="accent" mode="indeterminate"></mat-progress-spinner>
    </div>
  </div>

  <div class="border-l" fxFlex>
    <div class="p-24">
      <h2 class="title mt-0">Progress Spinner</h2>
      <h4 class="body-2 text-secondary m-0">&lt;mat-progress-spinner&gt;</h4>
    </div>

    <mat-tab-group class="vex-tabs">
      <mat-tab label="DESCRIPTION">
        <p class="p-24">
          A single visual indicator should be used to represent each type of operation. For example, a refresh operation
          should display either a refresh bar or an activity circle, but not both.
          <br>
          <br>Determinate indicators display how long an operation will take.
          <br>Indeterminate indicators visualize an unspecified wait time.
        </p>
      </mat-tab>
      <mat-tab label="SOURCE CODE">
        <pre><code [vexHighlight]="progressSpinnerHTML"></code></pre>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

