<vex-page-layout>

  <vex-page-layout-header fxLayout="column" fxLayoutAlign="center start">
    <div class="container">
      <h2 class="title m-0">Simple - Large Header</h2>
      <vex-breadcrumbs [crumbs]="['Page Layouts', 'Simple', 'Large Header']"
                       [invert]="true"></vex-breadcrumbs>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content class="container">
    <vex-page-layout-demo></vex-page-layout-demo>
  </vex-page-layout-content>

</vex-page-layout>
